:host {
 --stroke: calc(1 / 4);
 left: calc(var(--uw) * (var(--ax) / 5 + var(--hw)));
 top: calc(var(--uh) * (var(--ay) / 5 + var(--hh)) + (var(--stroke) * var(--uh)) * -0.5);
 background-color: var(--ui-fill);
 width: calc(var(--uw) * var(--magnitude) - var(--huw));
 height: calc(var(--stroke) * var(--uh));
 box-shadow: 1px 2px 5px var(--ui-fill);
 display: block;
 position: absolute;
 transform: rotate(var(--angle));
 transform-origin: 0 0;
}

:host::before {
 position: absolute;
 bottom: var(--huh);
 left: var(--huw);
 content: var(--coord);
 transform: rotate(calc(var(--sinister) * 180deg));
 display: block;
}

:host::after {
 content: '';
 display: block;
 transform: rotate(45deg);
 transform-origin: 100% 0;
 border-top: calc(var(--stroke) * var(--uh)) solid var(--ui-fill);
 border-right: calc(var(--stroke) * var(--uw)) solid var(--ui-fill);
 width: var(--huw);
 height: var(--huh);
 position: absolute;
 right: calc(-1 * var(--huw));
 top: calc(var(--stroke) * var(--uh) * 0.5);
}