:host {
 display: grid;
 width: min-content;
 height: var(--u2h);
}

[word],
output,
div {
 display: block;
 text-align: center;
 font-size: calc(var(--hhuw) + var(--uw));
 line-height: var(--u2h);
 background-color: rgba(var(--vellum-white-rgb), 0.5);
 font-family: monospace;
}

search-bar-item {
 color: var(--ui-fill);
 width: calc(var(--uw) * 5);
}

search-bar-item::part(label) {
 background: green;
}

output {
 color: rgba(var(--ui-fill-rgb), 0.5);
 width: var(--uw);
}

div {
 color: var(--ui-fill);
 font-weight: 900;
 width: calc(var(--uw) * 7);
}

/*
 Every word corresponds to a set of characters,
 not necessarily the spelling of the word.
 
 A character gains meaning in several ways:
 1: the given character's usages can be described as the intersection of a bunch of subsets of all possible words
 2: use of a character to represent a word, given the associations with that character at implimentation-time, conveys intent
 3: runtime-indicators of intent can drive association to the characters in other ways

*/
