:host {
 line-height: var(--uh);
 background: var(--ui-fill);
 background-color: black;
 overflow-x: hidden;
 overflow-y: scroll;
 color: var(--vellum-white);
 display: flex;
 flex-flow: column nowrap;
 position: relative;
 flex: 1 1 0;
}

:host>* {
 background-color: var(--ui-fill);
 border-radius: var(--uh);
 margin: var(--hu-hw);
 width: max-content;
 max-width: calc(100% - 4 * var(--uw));
 max-height: var(--vh);
 position: relative;
 right: 0;
}

:host>*[own] {
 background-color: var(--approval-green);
 max-width: calc(100% - 4 * var(--uw));
}