:host {
 display: grid;
 position: relative;
 --tool-h: calc(var(--h-split) * var(--uh));
 --tool-w: calc(var(--v-split) * var(--uw));
 grid-template-columns: var(--tool-w) 0 1fr;
 grid-template-rows: var(--u3h) 1fr 0 var(--tool-h);
 grid-template-areas:
  "topt topt topt"
  "left vbar body"
  "hbar hbar hbar"
  "logs logs logs";
}

explore- {
 grid-area: left;
}

v-rule {
 grid-area: vbar
}

h-rule {
 grid-area: hbar;
}

console- {
 grid-area: logs;
}

title-bar {
 grid-area: topt;
}

title-bar,
console-,
v-rule,
h-rule,
:last-child,
explore- {
 width: 100%;
 height: 100%;
 min-width: 0;
 min-height: 0;
}

console- {
 overflow: hidden;
}

explore- {
 box-sizing: border-box;
}

:last-child {
 grid-area: body;
 overflow-y: auto;
 box-sizing: border-box;
}