:host {
 display: grid;
 position: relative;
 --tool-h: calc(var(--h-split) * var(--uh));
 --tool-w: calc(var(--v-split) * var(--uw));
 --code-w: calc(var(--r-split) * var(--uw));
 grid-template-columns: var(--tool-w) 0 1fr 0 var(--code-w);
 grid-template-rows: var(--u3h) 1fr 0 var(--tool-h);
 grid-template-areas:
  "tbar tbar tbar tbar tbar"
  "tool vbar body rbar code"
  "tool vbar hbar rbar code"
  "tool vbar logs rbar code";
}

explore- {
 grid-area: tool;
}

code-explorer {
 grid-area: code;
}

v-rule[key="v-split"] {
 grid-area: vbar
}

v-rule[key="r-split"] {
 grid-area: rbar
}

h-rule {
 grid-area: hbar;
}

console- {
 grid-area: logs;
}

title-bar {
 grid-area: tbar;
}

:host>:not(v-rule):not(h-rule) {
 width: 100%;
 height: 100%;
 min-width: 0;
 min-height: 0;
 overflow: auto;
}

console- {
 overflow: hidden;
}

explore- {
 box-sizing: border-box;
}

iframe {
 grid-area: body;
 overflow-y: auto;
 box-sizing: border-box;
}

@media (display-mode: window-controls-overlay) {
 title-bar {
  --t-x: env(titlebar-area-x, 0%);
  --t-width: env(titlebar-area-width, 100%);
  --t-minus-x: calc(100% - (var(--t-width) + var(--t-x)));
  margin-left: var(--t-x);
  max-width: var(--t-width);
  box-sizing: border-box;
 }
}