:host::after {
 content: '';
 box-shadow: 0 0 0 calc(var(--uw) / 10) black;
 width: 0;
 display: inline-block;
 height: var(--u2h);
 pointer-events: none;
}

@keyframes cursor-blink {
 0% {
  opacity: 0;
 }
}

:host::after {
 animation: cursor-blink .75s steps(2) infinite;
}