:host {
 display: inline-block;
 vertical-align: top;
 width: calc(10 * var(--uw));
 height: var(--u2h);
 line-height: var(--uh);
 padding: var(--hu-hw);
 background: var(--vellum-white);
 color: var(--ui-fill);
 box-shadow: var(--paper-shadow);
 position: relative;
 box-sizing: border-box;
 border-radius: var(--huh);
 cursor: pointer;
 margin: 0;
}

:host([open])::before {
 content: '';
 position: fixed;
 display: block;
 top: 0;
 left: 0;
 background: var(--ui-fill);
 width: var(--vw);
 height: var(--vh);
 opacity: 75%;
}

:host::after {
 content: attr(value);
}

:host([label]) {
 position: relative;
 margin-left: calc(6 * var(--uw));
}

:host>label {
 position: absolute;
 width: calc(16 * var(--uw));
 box-sizing: border-box;
 text-align: right;
 line-height: var(--u2h);
 padding-right: calc(11 * var(--uw));
 right: 0;
 top: 0;
 background: var(--vellum-white);
 z-index: -1;
 border-radius: inherit;
}

:host(:hover)>label {
 background: var(--ui-fill);
 color: var(--vellum-white);
}

:host([open])>label {
 z-index: 1;
}


:host([open]) {
 font-weight: 900;
 z-index: 1;
}

:host(:not(:hover))>div {
 opacity: 0;
 overflow: hidden;
}

div {
 border-radius: var(--huh);
 box-shadow: var(--paper-shadow);
 box-sizing: border-box;
 position: absolute;
 overflow: hidden;
 right: 0;
 top: 0;
 width: var(--u2w);
 height: var(--u2h);
 border-bottom-left-radius: var(--u2w);
 background: var(--ui-fill);
 background-attachment: local;
 z-index: 10000;
}

div>drop-down {
 background: transparent;
 box-shadow: none;
 border-radius: 0;
 opacity: 0;
 pointer-events: none;
 margin: 0;
}

div>drop-down[selected] {
 color: var(--vellum-white);
 background: var(--ui-fill);
}

div>drop-down:hover {
 color: var(--vellum-white);
 background: var(--ui-fill);
}

:host([open])>div>drop-down {
 opacity: 100%;
 pointer-events: all;
}

:host([open])>div {
 width: calc(10 * var(--uw));
 height: calc(4 * var(--u2h));
 background: var(--vellum-white);
 border-bottom-left-radius: inherit;
 overflow-y: auto;
 scroll-snap-type: y mandatory;
 opacity: 100%;
}