:host {
 display: grid;
 grid-template-rows: 1fr;
 grid-template-columns: 1fr;
 grid-template-areas: 'panel';
 position: relative;
 overflow: auto;
}

:not([selected]) {
 opacity: 0;
 pointer-events: none;
}

:host>* {
 grid-area: panel;
 max-width: 100%;
}