:host, :root {
 --ui-fill-rgb: 58, 72, 82;
 --u2w: calc(var(--uw) * 2);
 --u2h: calc(var(--uh) * 2);
 --u3w: calc(var(--uw) * 3);
 --u3h: calc(var(--uh) * 3);
 --huw: calc(var(--uw) / 2);
 --huh: calc(var(--uh) / 2);
 --hhuw: calc(var(--uw) / 4);
 --hhuh: calc(var(--uh) / 4);
 --hhhuw: calc(var(--uw) / 8);
 --hhhuh: calc(var(--uh) / 8);
 --u2-hw: var(--u2h) var(--u2w);
 --u-hw: var(--uh) var(--uw);
 --hu-hw: var(--huh) var(--huw);
 --hhu-hw: var(--hhuh) var(--hhuw);
 --hhhu-hw: var(--hhhuh) var(--hhhuw);
 --white-fill-grid: url(blue-grid.png) 0 0 / calc(var(--uw) * 10) calc(var(--uh) * 10), var(--vellum-white);
 --white-fill-dots: url(blue-dots.png) 0 0 / calc(var(--uw) * 10) calc(var(--uh) * 10), var(--vellum-white);
 --ui-fill-grid: url(white-grid.png) 0 0 / calc(var(--uw) * 10) calc(var(--uh) * 10), var(--ui-fill);
 --ui-fill-dots: url(white-dots.png) 0 0 / calc(var(--uw) * 10) calc(var(--uh) * 10), var(--ui-fill);
 --vellum-white-rgb: 235, 231, 229;
 --approval-green-rgb: 36, 180, 95;
 --vellum-white: rgb(var(--vellum-white-rgb));
 --ui-fill: rgb(var(--ui-fill-rgb));
 --approval-green: rgb(var(--approval-green-rgb));
 --border: inset 0 0 0 0.5px var(--vellum-white), 0 0 0 0.5px var(--vellum-white);
 --paper-shadow: 0 0 var(--huw) #0003, 1px 1px 2px -0.5px #0008, inset 0 0 var(--u2w) -3px #ffffff07;
 --paper-shadow-in: inset 0 0 var(--huw) #0003, inset 1px 1px 2px -0.5px #0008, 0 0 var(--u2w) -3px #ffffff07;
 --vp-corners: var(--c-tl) var(--c-tr) var(--c-br) var(--c-bl);
 --inner-corners: max(var(--huw), calc(var(--c-tl) - var(--uw))) max(var(--huw), calc(var(--c-tr) - var(--uw))) max(var(--huw), calc(var(--c-br) - var(--uw))) max(var(--huw), calc(var(--c-bl) - var(--uw)));
 --canvas-width: calc(2 * var(--vw));
 --canvas-height: calc(2 * var(--vh));
 font: 400 var(--uw) / var(--uh) 'kireji sans', sans-serif;
}

* {
 overscroll-behavior: contain !important;
 user-select: none;
}

input,
button,
iframe {
 background: none;
 appearance: unset;
 border: none;
}

/* width */
::-webkit-scrollbar {
 width: 0 !important;
 height: 0 !important;
 overflow: hidden;
 border-radius: inherit;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
}

/* Track */
::-webkit-scrollbar-track {
 background: var(--ui-fill);
 border-radius: inherit;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: var(--vellum-white);
 border-radius: inherit;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
}

a {
 color: var(--approval-green);
 text-decoration: inherit;
}