:host {
 --scale: inherit;
 --w-size: calc(var(--scale) * var(--uw));
 --h-size: calc(var(--scale) * var(--uh));
 width: var(--w-size);
 height: var(--h-size);
 font-size: calc(var(--w-size) - var(--huw));
 line-height: var(--h-size);
 position: relative;
 text-align: center;
 display: inline-block;
 overflow: hidden;
}

:host::after {
 position: relative;
 content: var(--mark);
 text-align: center;
 display: block;
 width: 100%;
 height: 100%;
}

:host(:hover)::after {
 background-color: rgba(var(--vellum-white-rgb), 0.8);
 color: var(--ui-fill);
}

var {
 line-height: calc(var(--huh) + var(--hhhuh));
 text-align: center;
 font-size: calc(var(--huh) + var(--hhuh));
 padding: var(--hhu-hw);
 color: var(--color);
 position: relative;
 z-index: 2;
 max-width: calc(var(--u2w) + var(--huw));
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 box-sizing: border-box;
 color: var(--vellum-white);
}

var::before {
 content: '';
 top: 0;
 left: 0;
 position: absolute;
 background-color: var(--bg);
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 55%;
}

:host::before {
 content: '';
 background: linear-gradient(45deg, var(--bg), transparent 75%);
 display: block;
 width: calc(var(--u2w) + var(--huw));
 height: calc(var(--u2h) + var(--huh));
}

var::before,
:host::before {
 border-radius: var(--hhuw);
}

var,
:host::before {
 position: absolute;
 left: var(--hhuw);
 bottom: var(--hhuh);
}

:host([word="css-"]) {
 --bg: darkblue;
}

:host([word="js-"]) {
 --bg: gold;
 --color: black;
}

:host([word="txt-"]) {
 --bg: black;
}

:host([word="ini-"]),
:host([word="json-"]) {
 --bg: var(--vellum-white);
 --color: black;
}

:host([word="html-"]),
:host([word="png-"]) {
 --bg: darkred;
}