:host {
 --scale: inherit;
 --w-size: calc(var(--scale) * var(--uw));
 --h-size: calc(var(--scale) * var(--uh));
 width: var(--w-size);
 height: var(--h-size);
 font-size: calc(var(--w-size) - var(--huw));
 line-height: var(--h-size);
 position: static;
 text-align: center;
 display: inline-block;
 overflow: hidden;
}

:host::after {
 content: var(--mark);
 text-align: center;
 display: block;
 width: 100%;
 height: 100%;
}

:host(:hover)::after {
 background-color: rgba(var(--vellum-white-rgb), 0.8);
 color: var(--ui-fill);
}