:host {
 display: flex;
 flex-flow: column nowrap;
 height: fit-content;
 font: var(--kireji-sans);
}

:host([open]) {
 background-color: var(--vellum-white);
 color: var(--prussian-blue);
 font-weight: 900;
}

label {
 height: var(--u2h);
 padding: var(--huh) var(--huw) var(--huh) var(--huw);
 box-sizing: border-box;
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
}

@media screen and (min-width: 400px) {
 :host(:not([open]):hover) {
  background-color: var(--vellum-white);
  color: var(--prussian-blue);
 }
}