:host {
 pointer-events: none;
 position: fixed;
 left: var(--x);
 top: var(--y);
 width: var(--w);
 height: var(--h);
 background: rgba(var(--approval-green-rgb), 0.2);
 white-space: nowrap;
 border-radius: var(--huh);
}

:host([depth='0']) {
 box-shadow: var(--paper-shadow);
 background: var(--vellum-white);
 color: var(--ui-fill);
}

:host(:not([depth='0'])) {
 opacity: calc(100% /(1 + var(--depth)));
}

:host(:not([show])) {
 display: none;
}

my-glyph {
 width: var(--uw);
}