:host {
 display: inline-flex;
 flex-flow: row nowrap;
 height: calc(var(--scale) * var(--uh));
 width: min-content;
 border-radius: var(--uw);
 background-color: var(--ui-fill) !important;
 color: var(--vellum-white) !important;
 position: relative;
 overflow: hidden;
}