html {
 width: var(--vw);
 height: var(--vh);
 overflow: auto;
 background: var(--ui-fill);
 color: var(--vellum-white);
}

body {
 width: var(--vw);
 height: var(--vh);
 position: absolute;
}

html,
body,
:host {
 margin: 0;
 padding: 0;
}

body::before {
 content: '';
 display: block;
 width: var(--canvas-width);
 height: var(--canvas-height);
 background: var(--ui-fill);
 background-position: calc(var(--vw) / 2) calc(var(--vh) / 2);
}

*::-webkit-scrollbar {
 display: none;
}

* {
 -ms-overflow-style: none;
 scrollbar-width: none;
}

html[data-word],
html[data-word]>body::before {
 background: transparent;
}

body>:not(tooltip-):not(part-tool) {
 position: fixed;
 top: 0;
 left: 0;
 width: var(--vw);
 height: var(--vh);
 box-sizing: border-box;
 overflow-y: auto;
 background-attachment: local;
}

body:not(:hover)>tooltip-,
body:not(:hover)>part-tool {
 display: none;
}

[data-dragging] *,
[data-subdragging],
[data-subdragging] * {
 pointer-events: none !important;
 background-color: green;
}