:host {
 display: grid;
 pointer-events: all;
 position: relative;
 height: var(--height);
 color: var(--vellum-white);
 cursor: pointer;
}

my-glyph {
 line-height: var(--u2h);
 font-size: var(--u2w);
 width: var(--u2w);
 min-height: var(--u2h);
 border-radius: calc(var(--uh) + var(--hhuh)) !important;
 pointer-events: none;
}

:host(:hover)>my-glyph {
 --hover: rgba(var(--vellum-white-rgb), 0.3);
 background-color: var(--hover);
}