:host {
 text-align: center;
 background-color: var(--color);
 display: inline-block;
 height: calc(var(--huh) + var(--u2h));
 line-height: calc(var(--huh) + var(--u2h));
 width: calc(var(--u2w) + var(--huh));
 box-sizing: border-box;
}

:host(:hover) {
 cursor: pointer;
}

:host(:not([active])) {
 background-color: dimgrey;
}

:host::before {
 width: 100%;
 display: block;
 content: ' \00A0' var(--content);
 color: var(--vellum-white);
}


:host(:first-of-type) {
 border-radius: var(--uh) 0 0 var(--uh);
}

:host(:last-of-type) {
 border-radius: 0 var(--uh) var(--uh) 0;
 margin-right: var(--uw);
}