html {
 width: var(--vw);
 height: var(--vh);
 overflow: auto;
 background: var(--prussian-blue);
 color: var(--vellum-white);
}

body {
 width: var(--vw);
 height: var(--vh);
 position: absolute;
}

html,
body,
:host {
 margin: 0;
 padding: 0;
}

body::before {
 content: '';
 display: block;
 width: var(--canvas-width);
 height: var(--canvas-height);
 background: var(--blue-paper);
 background-position: calc(var(--vw) / 2) calc(var(--vh) / 2);
}

body::after {
 content: '{'counter(width-px)','counter(height-px)'} 'var(--device);
 font: var(--kireji-sans);
 font-family: monospace;
 position: fixed;
 top: var(--vp-top);
 left: var(--vp-left);
 width: var(--vw);
 height: var(--vh);
 border-radius: var(--vp-corners);
 text-align: center;
 box-sizing: border-box;
 border: var(--uh) dotted #fff3;
 border-width: var(--uh) var(--uw);
 box-shadow: inset 0 0 0 var(--huh) #fff5;
 pointer-events: none;
}

*::-webkit-scrollbar {
 display: none;
}

* {
 -ms-overflow-style: none;
 scrollbar-width: none;
}