:host {
 background: var(--vellum-white);
 padding: var(--u-hw);
 display: flex;
 flex-flow: column nowrap;
 overflow-y: auto;
 gap: var(--uh);
}

h1 {
 font-size: var(--u3w);
 line-height: calc(5 * var(--uh));
 margin: 0;
 padding: 0;
 color: var(--ui-fill);
}

h5 {
 font-size: var(--uw);
 line-height: var(--u2h);
 margin: 0;
 padding: 0;
 color: var(--ui-fill);
}

:host([variable])>h1,
:host([variable])>h5 {
 display: none;
}

:host([variable]) {
 background: var(--ui-fill);
 padding: 0;
 display: grid;
}

:host([variable])>thought- {
 margin: 0;
 border-radius: 0;
 flex: 1 0;
}