:host {
 display: grid;
 overflow-y: auto;
 box-sizing: border-box;
 background: var(--ui-fill);
}


:host([item]) {
 grid-template-rows: var(--u3h) 1fr;
 border-radius: var(--huh);
 padding: var(--u-hw);
 flex-shrink: 0;
}

:host([variable]) {
 padding: 0;
}

:host([variable])>:not(:first-child) {
 overflow-y: auto;
}

label>button {
 float: right;
 color: var(--vellum-white);
}