:host {
 display: grid;
 pointer-events: none;
 height: 100%;
 width: 100%;
 background: linear-gradient(#0004, #0005), var(--ui-fill);
}

glyph- {
 filter: brightness(10%);
 font-size: calc(var(--uw) * var(--t));
 line-height: calc(var(--uw) * var(--t));
 color: #0001;
}

glyph-::part(short) {
 font-size: calc((var(--uw) * var(--t)) / 8);
 line-height: calc((var(--uw) * var(--t)) / 8);
 height: 100%;
 width: 100%;
 max-width: unset;
 color: #0002;
}