:host {
 --factor: 2;
 
 --scale: calc(1 / var(--factor));
 transform: scale(var(--scale));
}

iframe {
 --offset: calc(-100% * var(--scale));
 left: var(--offset);
 top: var(--offset);

 --size: calc(100% * var(--factor));
 height: var(--size);
 width: var(--size);

 position: relative;
}