:host {
 display: flex;
 flex-flow: column;
 align-items: center;
 justify-content: center;
 top: 0;
 font-size: min(calc(4% * var(--h)), 3vw);
}

h1,
p {
 margin: 0;
 padding: 0;
}

#img404 {
 margin-top: min(calc(4% * var(--h)), 3vw);
 max-width: 75vw;
 max-height: calc(50% * var(--h));
 filter: invert(0.7);
}