editor->scroller->scroll-content {
 padding: var(--spacing);
 gap: var(--spacing);
 display: flex;
 flex-flow: column;
}

body.modern editor->scroller->scroll-content {
 padding: var(--padding) max(calc((100vw - var(--sidebar-width) - 696px) / 2), var(--spacing));
 gap: var(--padding);
}

editor->scroller->scroll-content:has(#file-viewer) {
 position: relative;
 padding: 0;
}

wallpaper-:has(#tab-group:empty) editor-:after,
wallpaper-:has(#tab-group:empty) editor->scroll-bar {
 display: none;
}

wallpaper-:has(#tab-group:empty) editor->scroller- {
 margin-right: 0;
 width: 100%;
}

#file-viewer {
 margin: 0;
 padding: 0;
 --line-height: calc(var(--default-font-size) + 4px);
 line-height: var(--line-height);
 counter-reset: ln;
 padding-bottom: calc(100vh - var(--header-height) - var(--task-bar-height) - var(--warning-height) - var(--line-height));
}

body.modern.light editor- {
 background-color: var(--bg-light-est);
}

body.modern.dark editor- {
 background-color: var(--bg-mode);
}

body.modern editor- {
 container-type: inline-size;
 container-name: modern-editor-;
}

@container modern-editor- (width < 696px) {
 editor->scroller->scroll-content {
  --padding: var(--spacing);
  --gap: calc(1.5 * var(--spacing));
 }
}

@container modern-editor- (width > 350px) {
 #info-state-space :is(p, h3) {
  display: inline-block;
 }

 #info-state-space:not([disabled]) p {
  float: right;
 }
}

#file-viewer {
 font-family: var(--system-ui-mono);
 display: flex;
 flex-direction: column;
 user-select: text;
 -webkit-user-select: text;
 -ms-user-select: text;
 cursor: text;
}

#file-viewer .code-line {
 display: block;
 position: relative;
 padding-left: 5em;
 margin: 0;
}

#file-viewer code {
 white-space: pre-wrap;
 hyphens: none;
 /*word-break: break-all;*/
 overflow-wrap: anywhere;
}

#file-viewer .line-number {
 display: block;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 width: 5em;
 padding: 0 1em;
 text-align: right;
 color: var(--bg-un-mode);
 pointer-events: none;
 user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
}

editor->scroller->scroll-content>section>h1 {
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
}

editor- {
 position: absolute;
 top: var(--header-height);
 left: var(--sidebar-width);
 right: 0;
 bottom: 0;
}

#description {
 white-space: pre-wrap;
}

#part-intro>* {
 vertical-align: middle;
}

#part-intro>div {
 display: inline-block;
}

#part-intro>img {
 width: 64px;
 margin-right: var(--spacing);
}

part-data {
 display: grid;
 grid-template-columns: 1fr min-content;
 grid-template-rows: repeat(auto-fill, min-content);
 width: 100%;
}

part-data>*:nth-child(even) {
 text-align: right;
}

part-data>hr {
 width: 100%;
 height: 2px;
 margin: 0;
 padding: 0;
}

part-data>* {
 padding: calc(var(--spacing) / 2);
 border-radius: 4px;
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
}

editor->scroller->scroll-content :is(h1, h2, h3) {
 margin: 0;
}

#info-images>div {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-items: flex-start;
}

#info-images>div>img {
 border: 1px solid #ccc;
 max-height: 180px;
 max-width: 180px;
}

#info-properties a {
 text-decoration: none;
}

body.modern wallpaper-:has(#tab-group:empty) editor- {
 top: 0;
}

body.modern :is(#info-about, #info-state-space, #info-state, #info-properties) {
 box-shadow:
  inset 0 0 0 1px var(--bg-un-mode),
  2px 3px 8px -2px var(--bg-dark);
 padding: 0;
 border-radius: 3px;
}

body.modern :is(#info-about, #info-state-space, #info-state, #info-properties)>:not(hr) {
 padding: var(--spacing);
 margin: 0;
}

body.modern :is(#info-about, #info-state-space, #info-state, #info-properties)>hr {
 padding: 0;
 margin: 0;
 border: none;
 height: 1px;
 background-color: var(--bg-un-mode);
}

body.modern :is(#info-about, #info-state-space, #info-state, #info-properties)>h2 {
 background-color: var(--accent-mode-est);
 box-shadow: inset 0 0 0 1px var(--bg-un-mode);
}

body.modern :is(#info-about, #info-state-space, #info-state, #info-properties)[disabled] {
 color: var(--fg-mode);
}

body.modern :is(#info-about, #info-state-space, #info-state, #info-properties)[disabled]>h2 {
 background-color: var(--bg-light);
}

body.modern editor- {
 box-shadow:
  inset -2px 0 0 -1px var(--bg-un-mode);
}

body.vintage editor-:not(:has(#file-viewer)) {
 background-color: var(--bg);
}

body.vintage editor-:before {
 box-shadow: var(--deep-inset);
 position: absolute;
 content: "";
 top: -2px;
 right: -2px;
 left: -2px;
 bottom: -2px;
}

body.vintage #file-viewer {
 padding-bottom: calc(100vh - var(--header-height) - var(--task-bar-height) - var(--warning-height) - var(--line-height) - 24px);
}

body.vintage.light editor- {
 background-color: white;
}

body.vintage.dark editor- {
 background-color: var(--bg);
}

body.vintage part-data {
 grid-template-rows: repeat(auto-fill, var(--line-height));
}

body.vintage part-data>:not(hr) {
 padding: 0;
 height: var(--line-height);
 line-height: var(--line-height);
}

body.vintage #description {
 margin: 0;
}

body.vintage :is(#info-about, #info-state-space, #info-state, #info-properties) {
 border: 2px groove var(--bg-mode-er);
 padding: calc(var(--line-height) / 2);
}

body.vintage :is(#info-about, #info-state-space, #info-state, #info-properties) {
 position: relative;
}

body.vintage :is(#info-about, #info-state-space, #info-state, #info-properties)>h2 {
 top: calc(var(--line-height) * -0.5 - 2px);
 left: calc(var(--line-height) / 2);
 font-weight: 400;
 line-height: var(--line-height);
 margin: 0;
 padding: 0 2px;
 background-color: var(--bg);
 font-size: var(--default-font-size);
 position: absolute;
}

body.vintage editor-:after {
 content: "";
 position: absolute;
 box-shadow: var(--outset);
 top: -6px;
 bottom: -6px;
 left: -6px;
 right: -6px;
 pointer-events: none;
}

body.vintage editor- {
 left: calc(8px + var(--sidebar-width));
 right: 12px;
 top: calc(12px + var(--header-height));
 bottom: 12px;
}

body.vintage wallpaper-:has(#tab-group:empty) editor- {
 left: calc(2px + var(--sidebar-width));
 right: 6px;
 top: 6px;
 bottom: 6px;
}

body.vintage h3 {
 font-size: inherit;
 font-weight: inherit;
}

body.vintage :not(#part-intro>div)>h3::after {
 content: ":";
}

body.vintage :not(#info-about):not([disabled])> :is(pre, p) {
 box-shadow: var(--deep-inset);
 padding: 5px 4px 9px 4px;
 background: white;
 margin: 4px 0;
 white-space: pre;
 word-wrap: none;
 overflow: hidden;
}

body.vintage :not(#info-about):not([disabled])> :is(pre, p):focus {
 user-select: text;
}

body.dark.vintage :not(#info-about):not([disabled])> :is(pre, p) {
 background: transparent;
}