editor- {
 position: absolute;
 top: 0;
 left: var(--sidebar-width);
 right: 0;
 bottom: 0;
}

editor-view {
 container-type: inline-size;
 container-name: editor-view;
 position: absolute;
 top: calc(var(--tab-group-height) + var(--crumbs-height));
 left: 0;
 right: 0;
 bottom: 0;
 overflow: clip;
}

editor-[data-drop-target] :is(editor-view, crumbs-)::after {
 content: "";
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background: var(--bg-light-er);
 opacity: 0.35;
}

crumbs- {
 position: absolute;
 top: var(--tab-group-height);
 left: 0;
 right: 0;
 height: var(--crumbs-height);
 line-height: var(--crumbs-height);
 display: flex;
 padding: 0 calc(var(--spacing) / 2);
}

crumbs->span {
 display: block;
 transform: translateX(calc(100% / -6)) rotateZ(-45deg) scale(calc(1 / 3));
 box-shadow: 3px 3px 0 0 var(--fg);
 width: var(--crumbs-height);
}

crumbs->a:not(:hover) {
 text-decoration: none;
}

body.light editor-[data-drop-target] :is(editor-view, crumbs-)::after {
 background: var(--accent-light-er);
}

editor-view>scroller->scroll-content {
 padding: var(--spacing);
 gap: var(--spacing);
 display: flex;
 flex-flow: column;
}

editor-view>scroller->scroll-content:has(#file-viewer) {
 position: relative;
 padding: 0;
}

editor-:has(#tab-group:empty) editor-view>scroller->scroll-content {
 display: flex;
 flex-flow: column nowrap;
 align-items: center;
 justify-content: center;
 height: 100%;
 color: var(--bg-un-mode);
}

editor-:has(#tab-group:empty) editor-view>scroller->scroll-content>svg {
 opacity: 50%;
}

wallpaper-:has(#tab-group:empty) :is(editor-view>scroll-bar, crumbs-) {
 display: none;
}

wallpaper-:has(#tab-group:empty) editor-view>scroller- {
 margin-right: 0;
 width: 100%;
 transform: unset !important;
 height: 100%;
}

#file-viewer {
 margin: 0;
 padding: 0;
 --tab-line-height: calc(var(--default-font-size) + 4px);
 line-height: var(--tab-line-height);
 counter-reset: ln;
 padding-bottom: calc(100vh - var(--tab-group-height) - var(--crumbs-height) - var(--task-bar-height) - var(--warning-height) - var(--tab-line-height));
}

#file-viewer {
 font-family: var(--system-ui-mono);
 display: flex;
 flex-direction: column;
 user-select: text;
 -webkit-user-select: text;
 -ms-user-select: text;
 cursor: text;
}

#file-viewer .code-line {
 display: block;
 position: relative;
 padding-left: 5em;
 margin: 0;
}

#file-viewer code {
 white-space: pre-wrap;
 hyphens: none;
 /*word-break: break-all;*/
 overflow-wrap: anywhere;
}

#file-viewer .line-number {
 display: block;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 width: 5em;
 padding: 0 1em;
 text-align: right;
 color: var(--bg-un-mode);
 pointer-events: none;
 user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
}

editor-view>scroller->scroll-content>section>h1 {
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
}

#description {
 white-space: pre-wrap;
}

#part-intro>* {
 vertical-align: middle;
}

#part-intro>div {
 display: inline-block;
}

#part-intro>img {
 width: 64px;
 margin-right: var(--spacing);
}

part-table,
part-rows {
 display: grid;
 grid-template-columns: 1fr auto;
 width: 100%;
}

part-rows {
 grid-template-columns: 1fr;
}

part-table>*:nth-child(even) {
 text-align: right;
}

:is(part-table, part-rows)>* {
 line-height: var(--tab-line-height);
 padding: 0 !important;
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
}

editor-view>scroller->scroll-content :is(h1, h2, h3) {
 margin: 0;
}

#info-images>div {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-items: flex-start;
}

#info-images>div>img {
 border: 1px solid #ccc;
 max-height: 180px;
 max-width: 180px;
}

#info-properties a:not(:hover) {
 text-decoration: none;
}

:not(#info-about):not([disabled])> :is(pre, p) {
 overflow: hidden;
}

body.modern editor-view {
 box-shadow:
  inset -2px 0 0 -1px var(--bg-un-mode);
}

body.modern editor-view>scroller->scroll-content {
 padding: var(--padding) max(calc((100vw - var(--sidebar-width) - 696px) / 2), var(--spacing));
 gap: var(--padding);
}

body.modern.light :is(editor-view, crumbs-) {
 background-color: var(--bg-light-est);
}

body.modern.dark :is(editor-view, crumbs-) {
 background-color: var(--bg-mode);
}

@container editor-view (width < 696px) {
 body.modern editor-view>scroller->scroll-content {
  --padding: var(--spacing);
  --gap: calc(1.5 * var(--spacing));
 }
}

@container editor-view (width > 350px) {
 body.modern #info-state-space :is(p, h3) {
  display: inline-block;
 }

 body.modern #info-state-space:not([disabled]) p {
  float: right;
 }
}

body.modern wallpaper-:has(#tab-group:empty) editor-view {
 top: 0;
}

body.modern :is(#info-about, #info-state-space, #info-state, #info-properties) {
 box-shadow:
  inset 0 0 0 1px var(--bg-un-mode),
  2px 3px 8px -2px var(--bg-dark);
 padding: 0;
 border-radius: 3px;
}

body.modern :is(#info-about, #info-state-space, #info-state, #info-properties)>:not(hr) {
 padding: var(--spacing);
 margin: 0;
}

body.modern :is(#info-about, #info-state-space, #info-state, #info-properties)>hr {
 padding: 0;
 margin: 0;
 border: none;
 height: 1px;
 background-color: var(--bg-un-mode);
}

body.modern :is(#info-about, #info-state-space, #info-state, #info-properties)>h2 {
 background-color: var(--accent-mode-est);
 box-shadow: inset 0 0 0 1px var(--bg-un-mode);
}

body.modern #info-properties>hr+div,
body.modern #info-properties>div+hr {
 padding-top: var(--spacing);
}

body.modern [disabled] {
 color: var(--fg-mode-er);
}

body.modern :is(#info-about, #info-state-space, #info-state, #info-properties)[disabled]>h2 {
 background-color: var(--bg-light);
}

body.vintage editor- {
 left: calc(12px + var(--sidebar-width));
 top: 12px;
 right: 10px;
 bottom: 10px;
}

body.vintage editor-::before {
 box-shadow: var(--deep-inset);
 position: absolute;
 content: "";
 top: calc(var(--tab-group-height) - 2px + var(--crumbs-height) + 2px);
 right: -2px;
 left: -2px;
 bottom: -2px;
}

body.vintage editor-::after {
 content: "";
 position: absolute;
 box-shadow: var(--outset);
 top: calc(var(--tab-group-height) - 6px);
 bottom: -6px;
 left: -6px;
 right: -6px;
 pointer-events: none;
}

@container editor-view (width > 350px) {
 body.vintage #info-state-space {
  display: grid;
  grid-template-columns: max-content 1fr;
 }

 body.vintage #info-state-space>h3 {
  align-self: center;
  margin-right: 1ch;
 }
}

body.vintage editor-view {
 top: calc(var(--tab-group-height) + var(--crumbs-height) + 2px);
}

body.vintage editor-view:not(:has(#file-viewer)) {
 background-color: var(--bg);
}

body.vintage editor-:has(#tab-group:empty) editor-view {
 top: 0;
}

body.vintage editor-:has(#tab-group:empty)::before {
 content: unset;
}

body.vintage editor-:has(#tab-group:empty)::after {
 content: unset;
}

body.vintage crumbs- {
 top: calc(var(--tab-group-height) - 2px);
 left: -2px;
 right: -2px;
}

body.vintage #file-viewer {
 padding-bottom: calc(100vh - var(--tab-group-height) - var(--crumbs-height) - var(--task-bar-height) - var(--warning-height) - var(--tab-line-height) - 24px);
}

body.vintage.light editor-view {
 background-color: white;
}

body.vintage.dark editor-view {
 background-color: var(--bg);
}

body.vintage :not(#info-about)>hr {
 display: none;
}

body.vintage part-table>* {
 padding: 0;
 line-height: var(--tab-line-height);
}

body.vintage #description {
 margin: 0;
}

body.vintage :is(#info-about, #info-state-space, #info-state, #info-properties) {
 border: 2px groove var(--bg-mode-er);
 padding: calc(var(--tab-line-height) / 2);
}

body.vintage :is(#info-about, #info-state-space, #info-state, #info-properties) {
 position: relative;
}

body.vintage :is(#info-about, #info-state-space, #info-state, #info-properties)>h2 {
 top: calc(var(--tab-line-height) * -0.5 - 2px);
 left: calc(var(--tab-line-height) / 2);
 font-weight: 400;
 line-height: var(--tab-line-height);
 margin: 0;
 padding: 0 2px;
 background-color: var(--bg);
 font-size: var(--default-font-size);
 position: absolute;
}

body.vintage h3 {
 font-size: inherit;
 font-weight: inherit;
}

body.vintage :not(#part-intro>div)>h3::after {
 content: ":";
}

body.vintage :not(#info-about):not([disabled])> :is(pre, p) {
 box-shadow: var(--deep-inset);
 padding: 5px 4px 9px 4px;
 background: white;
 margin: 4px 0;
 white-space: pre;
 word-wrap: none;
}

body.vintage :not(#info-about):not([disabled])> :is(pre, p):focus {
 user-select: text;
}

body.dark.vintage :not(#info-about):not([disabled])> :is(pre, p) {
 background: transparent;
}