wallpaper- {
 --handle-thickness: calc(var(--spacing) / 1.5);
}

body.vintage wallpaper- {
 --handle-thickness: 8px;
}

width-handle {
 position: absolute;
 left: calc(var(--sidebar-width) - var(--handle-thickness) / 2);
 top: 0;
 bottom: 0;
 width: var(--handle-thickness);
 border-radius: calc(var(--handle-thickness) / 2);
 z-index: 100;
}

body.dragging-width-handle {
 cursor: ew-resize !important;
}

body.dragging-width-handle * {
 pointer-events: none;
}

width-handle:hover,
body.dragging-width-handle width-handle {
 background-color: var(--accent);
 cursor: ew-resize;
}