wallpaper- {
 padding: var(--padding) max(calc((100vw - 640px) / 2), var(--spacing));
 display: flex;
 flex-flow: column;
 overflow-y: scroll;
 min-height: 0;
 font-size: calc(1.2 * var(--spacing));
}

wallpaper- header {
 background: var(--accent-mode-est);
 padding: var(--gap);
 border-radius: var(--radius) var(--radius) 0 0;
}

wallpaper- menu {
 display: flex;
 gap: var(--gap);
 width: 100%;
 padding: 0;
 margin: 0;
 justify-content: center;
 flex: 0;
}

@media (width < 650px) {
 wallpaper- {
  padding: var(--padding);
 }
}

#latest {
 display: grid;
 gap: var(--spacing);
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#latest>article {
 padding: calc(0.75 * var(--gap));
 background-color: var(--bg-mode-er);
 cursor: pointer;
 transform-origin: center;
 display: flex;
 flex-flow: column;
 gap: var(--spacing);
 border-radius: var(--radius);
 transition: transform 0.3s ease, background-color 0.3s ease;
}

#latest>article:hover {
 transform: scale(110%);
 background-color: var(--accent-mode-est);
 z-index: 10;
}

#notebook-section {
 padding: var(--gap);
 background-color: var(--bg-mode-est);
 display: flex;
 gap: var(--spacing);
 flex-flow: column;
 border-radius: 0 0 var(--radius) var(--radius);
}

#notebook-section,
#notebook-section * {
 -webkit-user-select: text;
 -ms-user-select: text;
 user-select: text;
}

wallpaper- p {
 color: var(--fg-mode);
 margin: 0;
}

wallpaper- a {
 color: var(--accent);
 text-decoration: none;
 border-bottom: 1px dotted var(--accent);
 transition: color 0.3s ease, border-bottom-color 0.3s ease;
 cursor: pointer;
}

wallpaper- a:hover,
wallpaper- a:focus {
 color: var(--fg-un-mode-er);
 border-bottom-color: var(--fg-un-mode-er);
}

wallpaper- article a[target="_blank"]::after {
 content: '↗';
 color: inherit;
 display: inline-block;
 font-size: inherit;
 font-weight: 900;
 height: 1ch;
 width: 1ch;
 margin: 0 0.5ch;
}

wallpaper- pre {
 border-left: calc(var(--spacing) / 4) solid var(--fg-un-mode);
 background-color: var(--fg-mode-est);
 color: var(--fg-un-mode);
 padding: var(--spacing);
 border-radius: var(--radius);
 white-space: pre-wrap;
 word-break: break-all;
 font-family: var(--system-ui-mono);
 font-size: 0.8em;
 line-height: inherit;
 margin: 0;
}

wallpaper- b,
wallpaper- i {
 color: var(--fg-un-mode);
}

wallpaper- b {
 font-weight: 500;
}

wallpaper- h1,
wallpaper- h2,
wallpaper- h3,
wallpaper- h4,
wallpaper- h5,
wallpaper- h6 {
 font-weight: 600;
 color: var(--fg-un-mode-er);
 margin: 0 0;
}

wallpaper- h1 {
 font-size: calc(2.75 * var(--spacing));
 line-height: calc(2.75 * var(--spacing));
 font-weight: 400;
 color: var(--fg-un-mode-est);
}

#notebook-title {
 font-weight: 800;
 border: none;
}

details {
 padding: var(--spacing);
 border-radius: var(--radius);
}

summary {
 display: block;
 cursor: pointer;
}