body>main {
 position: fixed;
 height: calc(var(--h) - var(--toolbar-height));
 top: var(--toolbar-height);
 left: 0;
 right: 0;
 bottom: 0;
}

app-toolbar {
 /* box-shadow: var(--bottom-accent); 
 background: transparent; */
}