wallpaper- {
 display: grid;
 grid-template-columns: var(--explorer-width) 1fr;
 grid-template-rows: 1fr;
 font: inherit;
 --line-height: 25px;
 --icon-size: inherit;
 --icon-size2: calc(var(--icon-size) * 2 / 3);
}

part-explorer {
 height: 100%;
 overflow: auto;
 background-color: var(--bg-mode-est);
}

wallpaper- :is(part-explorer, part-browser)>h2 {
 position: sticky;
 z-index: 10;
 left: 0;
 top: 0;
 margin: 0;
 padding: calc(var(--spacing) / 3);
 font-weight: 300;
 box-shadow: var(--bottom-shadow);
 background-color: var(--bg-un-mode);
 line-height: var(--line-height);
 font-size: calc(var(--line-height) * 2 / 3);
 white-space: pre;
 text-overflow: ellipsis;
 overflow: hidden;
}

width-handle {
 --handle-thickness: calc(var(--spacing) / 1.5);
 position: absolute;
 left: calc(var(--explorer-width) - var(--handle-thickness) / 2);
 top: 0;
 bottom: 0;
 width: var(--handle-thickness);
 border-radius: calc(var(--handle-thickness) / 2);
 z-index: 100;
}

body.dragging {
 cursor: ew-resize !important;
}

body.dragging * {
 pointer-events: none;
}

width-handle:hover,
body.dragging width-handle {
 background-color: var(--accent);
 cursor: ew-resize;
}

part-browser>h2 {
 padding: calc(var(--spacing) / 6);
 display: flex;
 align-items: center;
}

part-browser>h2>input {
 margin: 0;
 padding: calc(var(--spacing) / 6);
 line-height: var(--line-height);
 border: none;
 outline: none;
 flex: 1;
 border-radius: calc((var(--line-height) + var(--spacing) / 6) / 2);
}

part-browser>h2>svg {
 height: var(--line-height);
 width: var(--line-height);
 stroke: var(--fg-mode-er);
 margin: 0;
 fill: none;
 border: none;
 cursor: pointer;
 outline: none;
}

part-browser>h2>svg:hover {
 stroke: var(--fg-mode);
 background-color: var(--bg-fade-2);
}

part-explorer>details {
 overflow: hidden;
 width: fit-content;
 min-width: var(--explorer-width);
 padding-bottom: min(calc(var(--h) / 2), calc(var(--line-height) * 3));
}

part-explorer details {
 margin: 0;
 padding: 0;
}

part-explorer summary {
 display: block;
 height: var(--line-height);
 line-height: var(--line-height);
 color: var(--fg);
 padding: 0;
 white-space: pre;
 font-weight: 500;
 cursor: pointer;
 position: relative;
}

wallpaper- summary:hover {
 background-color: var(--bg-mode);
}

wallpaper- summary:hover:not(:has(svg:hover)) {
 color: var(--accent);
}

wallpaper- summary>svg:hover {
 stroke: var(--accent);
}

wallpaper- summary>.explore-toggle,
wallpaper- summary>img,
wallpaper- svg,
wallpaper- .spacer {
 stroke: var(--fg);
 vertical-align: top;
 display: inline-block;
 height: var(--icon-size2);
 width: var(--icon-size2);
 border-radius: calc(var(--icon-size2) * 0.4 / 3);
 margin: calc((var(--line-height) - var(--icon-size2)) / 2);
 position: relative;
}

wallpaper- .prototype-icon {
 height: calc(2 / 3 * var(--icon-size2));
 width: calc(2 / 3 * var(--icon-size2));
 border-radius: calc(var(--icon-size2) * 0.8 / 9);
 position: absolute;
 right: -25%;
 bottom: 0;
}

summary .label {
 padding-left: calc((var(--line-height) - var(--icon-size2)) / 2);
 padding-right: calc(var(--line-height) - var(--icon-size2));
}