#### This file not only prevents unwanted files from appearing in the git repo,
####  it prevents them from being packed during the build process.

## There is an empty untracked file on github called `api/serverless.js`.
## Vercel needs this to register the serverless function before the build creates it.
## To stop hiding this file, use `git update-index --no-assume-unchanged api/serverless.js`

## Ignore operating system clutter.
**/.DS_Store
**/Icon

## Ignore cloud build files.
.env*.local
.vercel/

## Ignore IDE workspace preferences and plugins.
.vscode/
.cspell/

## Ignore my archive for scripts I might need again later
.dns-root/