:host {
 display: grid;
 grid-template-columns: var(--explorer-width) 1fr;
 grid-template-rows: 1fr;
 font: inherit;
 --line-height: 25px;
 --icon-size: inherit;
 --icon-size2: calc(var(--icon-size) * 2 / 3);
}


#explorer {
 height: 100%;
 overflow: auto;
 background-color: var(--bg-shade2);
}

#explorer>h2,
#browser>h2 {
 position: sticky;
 left: 0;
 top: 0;
 margin: 0;
 padding: calc(var(--spacing) / 3);
 font-weight: 300;
 box-shadow: var(--bottom-shadow);
 background-color: var(--bg-shade2);
 line-height: var(--line-height);
 font-size: var(--line-height);
 z-index: 1;
}

#browser>h2 {
 padding: calc(var(--spacing) / 6);
 display: flex;
 align-items: center;
}

#browser>h2>input {
 margin: 0;
 padding: calc(var(--spacing) / 6);
 line-height: var(--line-height);
 border: none;
 outline: none;
 flex: 1;
 border-radius: calc((var(--line-height) + var(--spacing) / 6) / 2);
}

#browser>h2>svg {
 height: var(--line-height);
 width: var(--line-height);
 stroke: var(--fg-fade2);
 margin: 0;
 fill: none;
 border: none;
 cursor: pointer;
 outline: none;
}

#browser>h2>svg:hover {
 stroke: var(--fg-fade1);
 background-color: var(--bg-fade-2);
}

#explorer>details {
 flex: 1 1;
 overflow: hidden;
 width: fit-content;
 min-width: var(--explorer-width);
 padding-bottom: min(calc(var(--h) / 2), calc(var(--line-height) * 3));
 box-sizing: border-box;
}

details {
 display: flex;
 flex-flow: column;
 margin: 0;
 padding: 0;
 /* border-left: 1px dashed var(--fg-fade3); */
}

summary {
 color: var(--fg-fade2);
 display: flex;
 padding: 0;
 gap: calc((var(--line-height) - var(--icon-size2)) / 2);
 flex: 0;
 font-weight: 500;
 line-height: var(--line-height);
 cursor: pointer;
 position: relative;
}

summary:hover {
 color: var(--fg-fade1);
 background-color: var(--bg-shade3);
}

summary>img,
.handle,
.spacer,
summary>span>img {
 height: var(--icon-size2);
 width: var(--icon-size2);
 border-radius: calc(var(--icon-size2) * 0.4 / 3);
 top: calc((var(--line-height) - var(--icon-size2)) / 2);
}

summary>span {
 position: relative;
}

.type-icon {
 display: none;
 height: calc(2 / 3 * var(--icon-size2));
 width: calc(2 / 3 * var(--icon-size2));
 border-radius: calc(var(--icon-size2) * 0.8 / 9);
 position: absolute;
 right: -25%;
 bottom: 0;
}

.label {
 padding-left: calc((var(--line-height) - var(--icon-size2)) / 2);
 padding-right: calc(var(--line-height) - var(--icon-size2));
}

svg {
 stroke: var(--fg-fade2)
}