#notebook-section * {
 margin: 0;
}

#note-subtitle:empty {
 display: none;
}

#note-credit {
 color: var(--bg-un-mode);
 font-weight: 300;
}

#notebook-section h2,
#notebook-section h3:not(#note-subtitle),
#notebook-section h4,
#notebook-section h5,
#notebook-section h6 {
 padding-top: calc(2 * var(--spacing));
}

#notebook-section>h2 {
 padding-top: calc(1.5 * var(--spacing));
 box-shadow: 0 -1px 0 0 var(--bg-un-mode);
}

#notebook-section>*:has(+ h2) {
 padding-bottom: calc(1.5 * var(--spacing));
}