* {
 box-sizing: border-box;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

[data-loading] {
 cursor: wait;
}

[data-loading] * {
 pointer-events: none;
}

a,
a:visited {
 text-decoration: none;
 color: inherit;
}

html,
body {
 --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 --system-ui-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Consolas", "Courier New", monospace;
 --menu-tween: 0;
 --h: 100vh;
 overscroll-behavior: none !important;
 margin: 0;
 height: var(--h);
 font-synthesis: weight style;
 --sidebar-width: 256px;
}

img {
 fill: var(--fg-fade1);
}

body[data-theme="modern"] {
 --bottom-accent: 0 1.5px var(--fg-fade3);
 --bottom-shadow: 0 2px 7px #0002;
 --taskbar-accent: var(--bottom-shadow);
 --icon-size: 29px;
 --spacing: 14px;
 --taskbar-height: calc(var(--icon-size) + 2 * var(--spacing));
 font: 13px var(--system-ui);
 color: var(--fg-fade1);
}

wallpaper- {
 position: fixed;
 top: 0;
 bottom: var(--taskbar-height);
 left: 0;
 right: 0;
}

body[data-theme="modern"] wallpaper- {
 background: var(--bg-shade1);
}

body[data-theme="vintage"] wallpaper- {
 background: #377f7f;
}

body[data-theme="vintage"] {
 --sidebar-height: 288px;
 --spacing: 12px;
 --taskbar-height: 28px;
 --icon-size: var(--taskbar-height);
 --deep-inset:
  inset -1px -1px white,
  inset 1px 1px black,
  inset -2px -2px #dbdbdb,
  inset 2px 2px #7a7a7a;
 --deep-outset:
  inset -1px -1px black,
  inset 1px 1px white,
  inset -2px -2px #7a7a7a,
  inset 2px 2px #dbdbdb;
 font: 11px / 16px var(--system-ui);
 color: black;
 --surface: #c3c3c3;
}

@supports (height: 100dvh) {

 html,
 body {
  --h: 100dvh;
 }
}

task-menu {
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: 0;
 padding: 0;
 outline: none;
}

body[data-theme="modern"] task-menu {
 background: #0003;
 opacity: var(--menu-tween);
 color: var(--fg-fade1);
}

button,
menu-button {
 background: transparent;
 padding: 0;
 margin: 0;
 border: none;
 color: inherit;
}

body[data-theme="modern"] button,
body[data-theme="modern"] menu-button {
 height: var(--icon-size);
 font-size: calc(var(--icon-size) * 1.2);
 line-height: var(--icon-size);
 cursor: pointer;
}

sidebar- {
 margin: 0;
 position: fixed;
 overflow: hidden;
 display: flex;
 flex-flow: column;
}

body[data-theme="modern"] sidebar- {
 box-shadow: 0px 0px 22px var(--spacing) #0001;
 background: var(--bg-shade2);
 padding: 0;
 border-radius: calc(var(--spacing) / 2);
 bottom: calc(var(--taskbar-height) - var(--spacing) / 2);
 left: calc(var(--spacing) + (var(--menu-tween) - 1) * 256px);
 height: auto;
 width: auto;
}

body[data-theme="vintage"] sidebar- {
 height: calc(var(--menu-tween) * var(--sidebar-height));
 min-width: 164px;
 left: 2px;
 bottom: calc(var(--taskbar-height) - 4px);
 line-height: 18px;
 padding: 3px 3px 3px 24px;
 background: var(--surface);
 text-align: left;
 box-shadow: inset -1px -1px black, inset 1px 1px white, inset -2px -2px #7a7a7a, inset 2px 2px #dbdbdb
}

body[data-theme="vintage"] sidebar-::after {
 pointer-events: none;
 font-smooth: never;
 -webkit-font-smoothing: none;
 display: block;
 content: "ð—±ð—²ð˜€ð—¸ð˜ð—¼ð—½.ð‘ð‘Žð‘Ÿð‘¡ð‘ ";
 writing-mode: tb-rl;
 transform: rotate(-180deg);
 line-height: 21px;
 font-size: 18px;
 font-weight: 200;
 color: white;
 padding-top: 4px;
 box-sizing: border-box;
 position: absolute;
 left: 3px;
 top: 3px;
 height: calc(var(--sidebar-height) - 6px);
 background:
  linear-gradient(rgba(0, 200, 255, 0), rgba(0, 200, 255, 0.5) 12.5%, rgba(0, 200, 255, 0) 70.71%),
  darkblue;
 width: 21px
}

body[data-theme="modern"] sidebar->hr {
 display: none;
}

body[data-theme="vintage"] sidebar->hr {
 height: 2px;
 border-top: 1px solid #7f7f7f;
 border-bottom: 1px solid white;
 box-sizing: border-box;
 margin: 4px 0;
}

body[data-theme="modern"] #wallpapers,
body[data-theme="modern"] #settings {
 padding: var(--spacing);
 display: flex;
 margin: 0;
 flex-flow: column;
}

body[data-theme="modern"] #wallpapers {
 background: var(--bg-shade3);
 counter-reset: item;
 flex: 0 1 auto;
 line-height: var(--icon-size);
}

body[data-theme="vintage"] #wallpapers {
 display: contents;
}

#settings {
 display: flex;
 flex-flow: column;
}

body[data-theme="modern"] #settings {
 gap: 1ch;
}

#settings>span {
 display: flex;
 justify-content: space-between;
}

body[data-theme="modern"] #settings>span {
 gap: 1ch;
 height: var(--icon-size);
}

body[data-theme="vintage"] #settings>span {
 padding: 4px;
}

body[data-theme="modern"] #tags {
 display: flex;
}

body[data-theme="modern"] #tags>* {
 display: inline-flex;
 font-weight: 100;
 line-height: 20px;
 color: var(--fg-fade1);
 padding: 0 4px;
 box-sizing: border-box;
 font-family: var(--system-ui-mono);
 background: rgb(97, 36, 23);
}

body[data-theme="modern"] #tags> :first-child {
 background: var(--bg-shade3);
 border-radius: 8px 0 0 8px;
}

body[data-theme="modern"] #tags> :last-child {
 border-radius: 0 8px 8px 0;
}

body[data-theme="modern"] #tags> :only-child {
 border-radius: 8px;
}

body[data-theme="modern"] #color-mode,
body[data-theme="modern"] #vintage-mode {
 cursor: pointer;
 position: relative;
 height: var(--spacing);
}

body[data-theme="modern"] #color-mode .base,
body[data-theme="modern"] #vintage-mode .base {
 width: 100%;
 border-radius: var(--spacing);
 height: var(--spacing);
 background: var(--bg-shade3);
 width: calc(var(--spacing) * 2);
 box-shadow: inset 0px 0px 6px #000;
 flex: 0 0 auto;
 overflow: hidden;
 position: absolute;
 right: 0;
 display: flex;
}

body[data-theme="vintage"] #color-mode .base,
body[data-theme="vintage"] #vintage-mode .base {
 background: white;
 width: 16px;
 height: 16px;
 box-shadow: var(--deep-inset);
}

body[data-theme="vintage"] #settings>*:focus>.label {
 display: block;
 position: relative;
}

body[data-theme="vintage"] #label2::before {
 content: "Mode: ";
}

body[data-theme="vintage"] #settings>*:focus>.label::after {
 border: 1px dotted black;
 content: "";
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 pointer-events: none;
}

body[data-theme="modern"] .handle {
 display: block;
 background: var(--bg-shade3);
 box-shadow: 0px 0px 6px #000;
 width: calc(var(--spacing) - 4px);
 height: calc(var(--spacing) - 4px);
 position: absolute;
 text-align: center;
 border-radius: var(--spacing);
 left: calc(.5 * var(--spacing) * var(--color-mode) + 2px);
 top: 2px;
}

body[data-theme="modern"] #vintage-mode .handle {
 left: 2px;
}

body[data-theme="modern"] #label1,
body[data-theme="modern"] #label2 {
 transition: opacity 0.3s;
 position: absolute;
 left: 0;
 top: 0;
 right: 0;
 width: 120px;
}

body[data-theme="modern"] #label1 {
 opacity: 100%;
}

body[data-theme="modern"] #label2 {
 opacity: 0%;
}

body[data-theme="modern"] #color-mode:hover #label1 {
 opacity: 0%;
}

body[data-theme="modern"] #color-mode:hover #label2 {
 opacity: 100%;
}

.task-link {
 display: contents;
}

body[data-theme="modern"] .task-link[data-here="true"]>a::before {
 content: "";
 position: absolute;
 width: 1ch;
 left: calc(var(--spacing) * -1);
 top: 0;
 bottom: 0;
 width: 8px;
 background: var(--theme);
}

.task-link>a,
.task-link>a:visited {
 display: flex;
 flex: 0;
 font-weight: 500;
 margin: 0;
 position: relative;
 align-items: center;
}

body[data-theme="modern"] .task-link>a,
body[data-theme="modern"] .task-link>a:visited {
 line-height: 25px;
 gap: var(--spacing);
 padding: 8px;
 cursor: pointer;
}

body[data-theme="vintage"] .task-link>a,
body[data-theme="vintage"] .task-link>a:visited {
 line-height: var(--icon-size);
 cursor: default;
}

body[data-theme="modern"] .task-link[data-here="true"]>a {
 color: var(--theme);
}

body[data-theme="modern"] .task-link:not([data-here="true"]):hover {
 color: var(--theme);
 cursor: pointer;
}

body[data-theme="vintage"] .task-link>a:hover {
 background: #00007f;
 color: white
}

.task-link>a>.label {
 flex: 1 1;
}

body[data-theme="vintage"] .task-link>a>.label {
 font-weight: 300;
 padding: 0px 4px;
}

.task-icon {
 height: var(--icon-size);
 width: var(--icon-size);
 border-radius: calc(var(--icon-size) * 0.2);
}

body[data-theme="vintage"] .task-icon {
 margin: 2px 6px;
}

body[data-theme="vintage"] .task {
 font: 11px var(--system-ui);
 position: relative;
 height: 100%;
 margin: 0;
 width: 160px;
 display: flex;
 flex-flow: row nowrap;
 gap: 3px;
 border: none;
 box-sizing: border-box;
 padding: 3px 2px 2px;
 text-align: left;
 box-shadow: inset -1px -1px black, inset 1px 1px white, inset -2px -2px #7a7a7a, inset 2px 2px #dbdbdb;
}

body[data-theme="vintage"] .task>.icon {
 width: 16px;
 height: 16px;
}

body[data-theme="vintage"] .task:focus::after {
 border: 1px dotted black;
 content: "";
 position: absolute;
 margin: 3px;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 pointer-events: none;
}

body[data-theme="vintage"] .task.open {
 font: bold 11px var(--system-ui);
 padding: 4px 2px 2px;
 box-shadow: inset -1px -1px white, inset 1px 1px black, inset -2px -2px #dbdbdb, inset 2px 2px #7a7a7a;
}

body[data-theme="vintage"] .task.open>* {
 z-index: 3
}

body[data-theme="vintage"] .task.open::before {
 content: "";
 position: absolute;
 margin: 2px;
 border-top: 1px solid white;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 background-image:
  linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white),
  linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white);
 background-size: 2px 2px;
 background-position: 0 0, 1px 1px;
}

body[data-theme="vintage"] .task.icon {
 width: 16px;
 height: 16px;
}

#logo {
 font-weight: 700;
}

taskbar- {
 position: fixed;
 bottom: 0;
 left: 0;
 right: 0;
 height: var(--taskbar-height);
 margin: 0;
 line-height: var(--taskbar-height);
 display: flex;
}

body[data-theme="modern"] taskbar- {
 gap: var(--spacing);
 padding: var(--spacing);
 box-shadow: var(--taskbar-accent);
 background: var(--bg-shade1);
 color: var(--fg-fade1);
}

body[data-theme="vintage"] #fullscreen {
 position: relative;
 display: flex;
 flex-flow: row nowrap;
 gap: 3px;
 box-sizing: border-box;
 height: 100%;
 margin: 0;
 padding: 3px 4px 3px;
 text-align: left;
 background: #c3c3c3;
 box-shadow: inset -1px -1px white, inset 1px 1px #7a7a7a;
 width: auto;
}

body[data-theme="vintage"] taskbar- {
 gap: 3px;
 padding: 4px 2px 2px;
 background: #c3c3c3;
 box-shadow: inset 0 1px #c3c3c3, inset 0 2px white;
}

taskbar->.btn {
 width: var(--icon-size);
}

taskbar->.btn:hover {
 color: var(--theme);
}

button:hover,
menu-button:hover {
 color: var(--theme);
}

body[data-theme="vintage"] menu-button {
 flex: 0 0;
 position: relative;
 width: 100%;
 box-sizing: border-box;
 height: 100%;
 display: flex;
 flex-flow: row nowrap;
 gap: 3px;
 border: none;
 font: bold 11px / 16px var(--system-ui);
 box-sizing: border-box;
 padding: 3px 4px 2px;
 text-align: left;
 background: #c3c3c3;
 box-shadow: var(--deep-outset);
}

body[data-theme="vintage"].menu-fully-open menu-button {
 box-shadow: var(--deep-inset);
 padding: 4px 4px 2px;
}

body[data-theme="vintage"] menu-button:focus::before {
 border: 1px dotted black;
 content: "";
 position: absolute;
 margin: 3px;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 pointer-events: none;
}

body[data-theme="vintage"] menu-button::after {
 content: "Start";
}

#nested button {
 font-size: 100px;
}

flex-spacer {
 flex: 1;
}

body[data-theme="vintage"] #tags> :not(:first-child)::before {
 content: "-";
}

body[data-theme="vintage"] .handle {
 display: none;
}

body[data-theme="vintage"] #color-mode #label1 {
 display: none;
}

#nested {
 line-height: var(--icon-size);
 padding: 0;
 display: flex;
 height: var(--icon-size);
 gap: 6px;
}

@media (width < 500px) {
 #nested {
  position: fixed;
  bottom: var(--taskbar-height);
  left: 0;
  right: 0;
  width: 100vw;
  box-shadow: var(--taskbar-accent);
 }
}