body {
 --bottom-accent: 0 1.5px var(--fg-mode-est);
 --bottom-shadow: 0 2px 7px #0002;
 --task-bar-accent: var(--bottom-shadow);
 --icon-size: 29px;
 --spacing: 14px;
 --task-bar-height: calc(var(--icon-size) + 2 * var(--spacing));
 font: 13px var(--system-ui);
}

#color-control,
#era-control {
 cursor: pointer;
 position: relative;
}

#color-control .base,
#era-control .base {
 width: 100%;
 border-radius: var(--spacing);
 background: var(--bg-dark-er);
 width: calc(var(--spacing) * 2);
 box-shadow: inset 0px 0px 6px #000;
 flex: 0 0 auto;
 overflow: hidden;
 display: flex;
}

task-menu {
 opacity: var(--menu-tween);
}

button,
menu-button {
 height: var(--icon-size);
 font-size: calc(var(--icon-size) * 1.2);
 line-height: var(--icon-size);
 cursor: pointer;
}

menu-button>img {
 width: var(--icon-size);
 height: var(--icon-size);
}

sidebar- {
 box-shadow: 0px 0px 22px var(--spacing) #0001;
 background: var(--bg-light);
 padding: 0;
 border-radius: calc(var(--spacing) / 2);
 bottom: calc(var(--task-bar-height) - var(--spacing) / 2);
 left: calc(var(--spacing) + (var(--menu-tween) - 1) * 256px);
 height: auto;
 width: auto;
}

sidebar->hr {
 display: none;
}

sidebar->* {
 white-space: nowrap;
 line-height: var(--spacing);
}

#theme-control,
#settings {
 padding: var(--spacing);
 display: flex;
 margin: 0;
 flex-flow: column;
}

#theme-control {
 counter-reset: item;
 flex: 0 1 auto;
 line-height: var(--icon-size);
}

#settings {
 gap: 1ch;
 background-color: var(--bg-dark);
}

#settings>span {
 gap: 1ch;
 height: var(--icon-size);
}

#tags {
 display: flex;
}

#tags>* {
 display: inline-flex;
 font-weight: 100;
 line-height: 20px;
 padding: 0 4px;
 font-family: var(--system-ui-mono);
 background: rgb(97, 36, 23);
}

#tags> :first-child {
 background: var(--bg-light);
 border-radius: 8px 0 0 8px;
}

#tags> :last-child {
 border-radius: 0 8px 8px 0;
}

#tags> :only-child {
 border-radius: 8px;
}

.handle {
 display: block;
 background: var(--bg-mode-er);
 box-shadow: 0px 0px 6px #000;
 width: calc(var(--spacing) - 4px);
 height: calc(var(--spacing) - 4px);
 text-align: center;
 border-radius: var(--spacing);
 /* TODO: --color-mode was removed. use new state attr method */
 left: calc(.5 * var(--spacing) * var(--color-mode) + 2px);
 top: 2px;
}

.task-link[data-here]>a::before {
 content: "";
 position: absolute;
 width: 1ch;
 left: calc(var(--spacing) * -1);
 top: 0;
 bottom: 0;
 width: 8px;
 background: var(--fg-accent);
}

.task-link>a,
.task-link>a:visited {
 line-height: 25px;
 gap: var(--spacing);
 padding: 8px;
 cursor: pointer;
}

.task-link[data-here]>a {
 color: var(--fg-accent);
}

.task-link:not([data-here]):hover {
 color: var(--fg-accent);
 cursor: pointer;
}

task-bar {
 gap: var(--spacing);
 padding: var(--spacing);
 box-shadow: var(--task-bar-accent);
 background: var(--bg);
}