* {
 box-sizing: border-box;
}

html,
body {
 --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 --system-ui-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Consolas", "Courier New", monospace;
 --overlay-tween: 0;
 --sidebar-width: 256px;
 --bottom-accent: 0 1.5px var(--accent-color);
 --bottom-shadow: 0 2px 7px #0002;

 --icon-size: 29px;
 --spacing: 19px;
 --toolbar-height: calc(var(--icon-size) + 2 * var(--spacing));
 font: 13px var(--system-ui);
 height: 100vh;
 width: 100vw;
 position: fixed;
 left: 0;
 right: 0;
 margin: 0;
 overscroll-behavior: contain !important;
 color: var(--color);
 background: var(--bg);
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
 overflow: hidden;
}

body>main {
 position: absolute;
 top: var(--toolbar-height);
 left: 0;
 right: 0;
 padding: 0;
 height: calc(100vh - var(--toolbar-height));
}

#buildName {
 font-size: 10px;
 line-height: 18px;
 color: var(--color);
 font-weight: 900;
}

#overlay {
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: 0;
 padding: 0;
 background: #0003;
 opacity: var(--overlay-tween);
 color: var(--color);
 outline: none;
 pointer-events: none;
}

#sidebar {
 padding: 0;
 margin: 0;
 position: fixed;
 overflow: hidden;
 border-radius: calc(var(--spacing) / 2);
 display: flex;
 flex-flow: column;
 box-shadow: 0px 0px 22px var(--spacing) #0001;
 right: calc(var(--spacing) + (var(--overlay-tween) - 1) * 256px);
 top: calc(var(--toolbar-height) - var(--spacing) / 2);
 height: auto;
 width: auto;
 background: var(--light-bg);
 pointer-events: all;
}

#apps,
#settings {
 padding: var(--spacing);
 display: flex;
 flex-flow: column;
 gap: var(--spacing);
}

#apps {
 background: var(--lighter-bg);
}

#apps>ul {
 margin: 0;
 display: flex;
 flex-flow: column;
 gap: var(--spacing);
 counter-reset: item;
 flex: 0 1 auto;
 line-height: var(--icon-size);
 padding: 0;
}

#settings {
 display: flex;
 flex-flow: row;
}

#colormode {
 border-radius: var(--spacing);
 height: var(--spacing);
 width: calc(var(--spacing) * 3);
 background: var(--lighter-bg);
}

.applink {
 display: flex;
 gap: 1.75ch;
 padding: 0;
 flex: 0;
 font-weight: 500;
 margin: -1px;
 line-height: 25px;
}

.applink>img {
 height: var(--icon-size);
 width: var(--icon-size);
}

.applink>.label {
 text-decoration: none;
 flex: 1 1;
}

.applink[data-here="true"] {
 position: relative;
 color: var(--theme);
}

.applink[data-here="true"]::before {
 content: "";
 position: absolute;
 width: 1ch;
 left: calc(var(--spacing) * -1);
 top: 0;
 bottom: 0;
 width: 8px;
 background: var(--theme);
}

.applink:not([data-here="true"]):hover {
 color: var(--theme);
 cursor: pointer;
}

#logo {
 font-weight: 700;
}

#toolbar {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 height: var(--toolbar-height);
 background: var(--bg);
 margin: 0;
 padding: var(--spacing);
 line-height: var(--toolbar-height);
 display: flex;
 color: var(--color);
 box-shadow: var(--toolbar-accent);
 gap: var(--spacing);
}

#toolbar>button {
 height: var(--icon-size);
 width: var(--icon-size);
 cursor: pointer;
 border: none;
 color: inherit;
 background: transparent;
 font-size: calc(var(--icon-size) * 1.2);
 line-height: var(--icon-size);
 padding: 0;
 margin: 0;
}

#toolbar>button:hover {
 color: var(--theme);
}

a,
a:visited {
 text-decoration: none;
 color: unset;
 padding: 0;
 margin: 0;
}

a:hover {
 color: var(--theme);
}

#nested a {
 font-size: 100px;
}

#home>h1 {
 padding: 0;
 margin: 0;
 display: flex;
 font-size: 21px;
 line-height: var(--icon-size);
 font-weight: 400;
 gap: var(--spacing);
}

#appicon {
 height: var(--icon-size);
 width: var(--icon-size);
}

#home>.label {
 flex: 1;
 line-height: var(--icon-size);
}

.spacer {
 flex: 1;
}

#nested {
 line-height: var(--icon-size);
 padding: 0;
 display: flex;
 height: var(--icon-size);
 gap: 6px;
}

@media (width < 500px) {
 #nested {
  position: fixed;
  top: var(--toolbar-height);
  left: 0;
  right: 0;
  width: 100vw;
  box-shadow: var(--toolbar-accent);
 }

 #appicon {
  display: none;
 }
}

@media (display-mode: window-controls-overlay) {
 #toolbar {
  padding-left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  padding-right: calc(100% - env(titlebar-area-width, 100%) - env(titlebar-area-x, 0));
  height: var(--toolbar-height);
  width: 100%;
  -webkit-app-region: drag;
  app-region: drag;
 }

 #toolbar>a {
  -webkit-app-region: no-drag;
  app-region: no-drag;
 }
}