#outliner-header {
 position: absolute;
 z-index: 10;
 top: 0;
 margin: 0;
 padding: calc(var(--spacing) / 3);
 font-weight: 300;
 background-color: var(--bg-mode-er);
 line-height: var(--line-height);
 font-size: calc(var(--line-height) * 2 / 3);
 white-space: pre;
 text-overflow: ellipsis;
 overflow: hidden;
 left: 0;
 width: var(--outliner-width);
}

part-outliner {
 position: absolute;
 top: var(--header-height);
 width: var(--outliner-width);
 bottom: 0;
 left: 0;
 background-color: var(--bg-mode-est);
 box-shadow:
  inset 0 2px 0 -1px var(--bg-un-mode),
  inset -2px 0 0 -1px var(--bg-un-mode);
}

wallpaper-:not([data-has-outliner]) :is(part-outliner, #outliner-header) {
 display: none;
}

part-outliner>scroller->scroll-content>details {
 overflow: hidden;
 width: fit-content;
 width: 100%;
 padding: 0;
}

part-outliner details {
 margin: 0;
 padding: 0;
}

part-outliner summary {
 display: block;
 height: var(--line-height);
 line-height: var(--line-height);
 color: var(--fg-mode);
 padding: 0;
 white-space: pre;
 cursor: pointer;
 position: relative;
 text-overflow: ellipsis;
 overflow: hidden;
 outline: none;
}

part-outliner summary[data-selected] {
 background-color: var(--accent);
 color: var(--bg-mode-est);
 font-weight: 500;
}

part-outliner summary:hover:not(:has(svg:hover)):not([data-selected]) {
 background-color: var(--bg-mode-est);
 color: var(--fg-un-mode-est);
}

part-outliner summary>svg:hover {
 stroke: var(--accent);
}

part-outliner summary[data-selected]>svg:hover {
 stroke: var(--bg-mode-er);
}

part-outliner summary>.explore-toggle,
part-outliner summary>img,
part-outliner svg,
outliner-spacer {
 stroke: var(--fg);
 vertical-align: top;
 display: inline-block;
 height: var(--line-height);
 width: var(--line-height);
 border-radius: calc(var(--icon-size) * 0.4 / 3);
 margin: 0;
 position: relative;
}

part-outliner summary>.explore-toggle,
part-outliner summary>img,
part-outliner svg {
 height: var(--icon-size);
 width: var(--icon-size);
 margin: calc((var(--line-height) - var(--icon-size)) / 2);
}

outliner-spacer {
 width: calc(var(--line-height) / 2);
 border-radius: 0;
 border-right: 1px solid var(--bg-un-mode);
}

outliner-spacer:has(+ img) {
 margin-right: calc(var(--line-height) / 2);
}

part-outliner summary .label {
 padding-left: calc((var(--line-height) - var(--icon-size)) / 2);
 padding-right: calc(var(--line-height) - var(--icon-size));
 font-weight: 300;
}

part-outliner summary .label.abstract {
 font-style: italic;
 font-weight: 100;
}

body.modern part-outliner summary {
 box-shadow:
  inset 2px 0 0 -1px var(--bg-un-mode),
  inset -2px 0 0 -1px var(--bg-un-mode);
}

body.modern part-outliner {
 box-shadow:
  inset -2px 0 0 -1px var(--bg-un-mode),
  inset 2px 0 0 -1px var(--bg-un-mode),
  inset 0 -2px 0 -1px var(--bg-un-mode);
}

body.modern #outliner-header {
 box-shadow:
  inset -2px 0 0 -1px var(--bg-un-mode),
  inset 2px 0 0 -1px var(--bg-un-mode),
  inset 0 2px 0 -1px var(--bg-un-mode);
}

body.modern.light part-outliner {
 background-color: var(--bg-light-er);
}

body.modern.dark part-outliner {
 background-color: var(--bg-mode-er);
}

body.vintage #outliner-header {
 font-size: var(--default-font-size);
 padding: 0 4px;
 line-height: var(--header-height);
}

body.vintage.light part-outliner {
 background-color: white;
}

body.vintage.dark part-outliner {
 background-color: black;
}

body.vintage part-outliner {
 top: calc(6px + var(--header-height));
 bottom: 8px;
}

body.vintage part-outliner::after {
 content: "";
 position: absolute;
 box-shadow: var(--deep-inset);
 top: calc(-2px - var(--header-height));
 bottom: -2px;
 left: -2px;
 right: -2px;
 pointer-events: none;
}

body.vintage part-outliner,
body.vintage #outliner-header {
 width: calc(var(--outliner-width) - (var(--handle-thickness) / 2) - 8px);
 left: 6px;
}

body.vintage #outliner-header {
 box-shadow: var(--deep-outset);
 background-color: var(--bg);
 top: 6px;
}