html,
body,
wallpaper- {
 --tile-width: 8px;
 --ratio: 3;
 --tx: calc(var(--ratio) * var(--tile-width));
 --ty: calc(var(--tx) / sqrt(2));
 touch-action: none;
}

world-,
region- {
 background-color: var(--bg);
 background-image:
  repeating-linear-gradient(90deg,
   var(--grid-color),
   var(--grid-color) 1px,
   transparent 1px,
   transparent var(--tx)),
  repeating-linear-gradient(0deg,
   var(--grid-color),
   var(--grid-color) 1px,
   transparent 1px,
   transparent var(--ty));
 background-size: var(--tx) var(--ty);
 box-shadow:
  inset 0 0 0 2px var(--grid-color),
  0 0 0 2px var(--grid-color);
}

/*
:is(world-, region-, user-)::after {
 background-color: var(--grid-color);
 color: var(--bg);
 content: attr(data-key);
 padding: calc(var(--tx) / 4);
 border-radius: calc(var(--tx) / 8);
 line-height: calc(var(--tx) / 2);
 position: absolute;
 top: calc(var(--tx) / 2);
 left: calc(var(--tx) / 2);
 pointer-events: none;
}

world-::after {
 content: "world";
}
 
*/

user- {
 --width: calc(2 * var(--tx));
 position: absolute;
 top: calc(50% - (5 * var(--ty)));
 left: calc(50% - var(--tx));
 width: var(--width);
 height: calc(6 * var(--ty));
 overflow: hidden;
 z-index: 20;
 background-size: var(--width);
}

user-.front {
 background-image: var(--user-glowstick-click--front-idle-png);
}

user-.left {
 background-image: var(--user-glowstick-click--left-idle-png);
}

user-.right {
 background-image: var(--user-glowstick-click--right-idle-png);
}

user-.back {
 background-image: var(--user-glowstick-click--back-idle-png);
}

user-.front.walking {
 background-image: var(--user-glowstick-click--front-walk-gif);
}

user-.left.walking {
 background-image: var(--user-glowstick-click--left-walk-gif);
}

user-.right.walking {
 background-image: var(--user-glowstick-click--right-walk-gif);
}

user-.back.walking {
 background-image: var(--user-glowstick-click--back-walk-gif);
}

world- {
 position: absolute;
 left: calc(50% - var(---x) * var(--tx));
 top: calc(50% - var(---y) * var(--ty));
 width: calc(1000 * var(--tx));
 height: calc(1000 * var(--ty));
 transition: top 0.09s linear, left 0.09s linear;
 box-shadow: inset 0 0 calc(3 * var(--tx)) calc(3 * var(--tx)) var(--bg);
}

region-[selected] {
 --grid-color: var(--accent-un-mode) !important;
}

region- {
 position: absolute;
 left: calc(var(---x) * var(--tx));
 top: calc(var(---y) * var(--ty));
 width: calc(var(---w) * var(--tx));
 height: calc(var(---h) * var(--ty));
}

region-.threshold {
 z-index: 10;
 box-shadow: none;
}

thumbstick- {
 /*mix-blend-mode: multiply;*/
 --color: black;
 --mask: white;
}

body.dark thumbstick- {
 /*mix-blend-mode: screen;*/
 --color: white;
 --mask: black;
}

thumbstick-,
handle- {
 --large-radius: max(min(10vmin, 128px), 32px);
 --radius: var(--large-radius);
 display: block;
 position: fixed;
 background-color: var(--mask);
 border-radius: var(--radius);
 z-index: 30;
 width: calc(2 * var(--radius));
 height: calc(2 * var(--radius));
 top: calc(var(--y) - var(--large-radius));
 left: calc(var(--x) - var(--large-radius));
 box-shadow: 0 0 0 3px var(--color);
}

handle- {
 --radius: 24px;
 top: calc((var(--large-radius) - var(--radius)) + var(--y));
 left: calc((var(--large-radius) - var(--radius)) + var(--x));
 position: absolute;
}

/*
handle-::before {
 content: var(--arrow);
 text-align: center;
 position: absolute;
 font-size: calc(2 * var(--radius));
 line-height: calc(2 * var(--radius));
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 color: var(--fg);
}
*/