html,
body,
wallpaper- {
 --tile: 24px;
 touch-action: none;
}

world-,
region- {
 background-color: var(--bg);
 background-image: repeating-linear-gradient(0deg,
   var(--grid-color),
   var(--grid-color) 1px,
   transparent 1px,
   transparent var(--tile)),
  repeating-linear-gradient(90deg,
   var(--grid-color),
   var(--grid-color) 1px,
   transparent 1px,
   transparent var(--tile));
 background-size: var(--tile) var(--tile);
 box-shadow:
  inset 0 0 0 2px var(--grid-color),
  0 0 0 2px var(--grid-color);
}

:is(world-, region-, user-)::after {
 background-color: var(--grid-color);
 color: var(--bg);
 content: attr(data-key);
 padding: calc(var(--tile) / 4);
 border-radius: calc(var(--tile) / 8);
 line-height: calc(var(--tile) / 2);
 position: absolute;
 top: calc(var(--tile) / 2);
 left: calc(var(--tile) / 2);
 pointer-events: none;
}

user- {
 position: absolute;
 top: calc(50% - (3 * var(--tile)));
 left: calc(50% - var(--tile));
 width: calc(2 * var(--tile));
 height: calc(4 * var(--tile));
 overflow: hidden;
 z-index: 20;
 background-image: var(--user-glowstick-click--down-png);
 background-size: cover;
}

user-::before {
 content: var(--arrow);
 text-align: center;
 position: absolute;
 font-size: calc(1.5 * var(--tile));
 line-height: calc(4 * var(--tile));
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 color: var(--accent-un-mode-est);
}

world- {
 position: absolute;
 left: calc(50% - var(---x) * var(--tile));
 top: calc(50% - var(---y) * var(--tile));
 width: calc(1000 * var(--tile));
 height: calc(1000 * var(--tile));
 transition: top 0.11s linear, left 0.11s linear;
 box-shadow: inset 0 0 calc(3 * var(--tile)) calc(3 * var(--tile)) var(--bg);
}

world-::after {
 content: "world";
}

region-[selected] {
 --grid-color: var(--accent-un-mode) !important;
}

region- {
 position: absolute;
 left: calc(var(---x) * var(--tile));
 top: calc(var(---y) * var(--tile));
 width: calc(var(---w) * var(--tile));
 height: calc(var(---h) * var(--tile));
}

region-.threshold {
 z-index: 10;
 box-shadow: none;
}

thumbstick-,
handle- {
 --large-radius: max(min(10vmin, 128px), 32px);
 --radius: var(--large-radius);
 display: block;
 position: fixed;
 border-radius: var(--radius);
 box-sizing: 0 0 15px 1px black;
 background-color: var(--bg-light);
 z-index: 30;
 width: calc(2 * var(--radius));
 height: calc(2 * var(--radius));
 top: calc(var(--y) - var(--large-radius));
 left: calc(var(--x) - var(--large-radius));
 box-shadow: 0 0 16px 1px var(--fg);
 display: none;
}

handle- {
 --radius: 24px;
 top: calc((var(--large-radius) - var(--radius)) + var(--y));
 left: calc((var(--large-radius) - var(--radius)) + var(--x));
 position: absolute;
}