editor-container {
 container-type: inline-size;
 container-name: editor-container;
}

part-editor {
 padding: var(--padding) max(calc((100vw - var(--outliner-width) - 800px) / 2), var(--spacing));
 display: flex;
 flex-flow: column;
 gap: var(--padding);
}

@container editor-container (width < 650px) {
 part-editor {
  --padding: var(--spacing);
  --gap: calc(1.5 * var(--spacing));
 }
}

part-editor>* {
 background: var(--bg-mode-est);
 padding: var(--gap);
 border-radius: var(--radius) var(--radius);
}

part-editor>h1>* {
 vertical-align: middle;
}

part-editor>h1>img {
 width: 48px;
 margin-right: var(--spacing);
}

part-data {
 --cols: 2;
 display: grid;
 grid-template-columns: repeat(var(--cols), 1fr);
 grid-template-rows: repeat(auto-fill, calc(var(--icon-size) + var(--spacing)));
 width: 100%;
}

part-data div {
 padding: calc(var(--spacing) / 2);
 border-radius: 4px;
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
}