part-editor>scroller->scroll-content {
 padding: var(--spacing);
 gap: var(--spacing);
 display: flex;
 flex-flow: column;
}

body.modern part-editor>scroller->scroll-content {
 padding: var(--padding) max(calc((100vw - var(--outliner-width) - 696px) / 2), var(--spacing));
 gap: var(--padding);
}

body.modern part-editor {
 container-type: inline-size;
 container-name: modern-editor;
}

@container modern-editor (width < 696px) {
 part-editor>scroller->scroll-content {
  --padding: var(--spacing);
  --gap: calc(1.5 * var(--spacing));
 }
}

body.modern part-editor>scroller->scroll-content>* {
 background: var(--bg-mode-est);
 padding: var(--gap);
 border-radius: var(--radius) var(--radius);
}

body.vintage part-data {
 border: 2px groove var(--bg-mode-er);
}

part-editor>scroller->scroll-content>section>h1 {
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
}

part-editor>scroller->scroll-content>section>h1>* {
 vertical-align: middle;
}

#description {
 white-space: pre-wrap;
}

part-editor>scroller->scroll-content>section>h1>img {
 width: 48px;
 margin-right: var(--spacing);
}

part-data {
 --cols: 2;
 display: grid;
 grid-template-columns: repeat(var(--cols), 1fr);
 grid-template-rows: repeat(auto-fill, calc(var(--icon-size) + var(--spacing)));
 width: 100%;
}

part-data div {
 padding: calc(var(--spacing) / 2);
 border-radius: 4px;
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
}

part-editor>scroller->scroll-content h1 {
 margin: 0;
}