:host {
 --sections: 5;
 --section-gap: 128px;
 background:
  url("https://home.orenjinari.com/signature.png") 36.5vw 8vw/27vw 7.78vw no-repeat,
  url("https://home.orenjinari.com/ground.png") 12.5vw calc(.8 * var(--h))/75vw 3.75vw no-repeat,
  radial-gradient(ellipse 17.597vw 20.968vw at 7.735vw 5.433vw, white 99.5%, transparent 100%),
  radial-gradient(ellipse 12.477vw 20.968vw at 28.291vw 2.626vw, white 99.5%, transparent 100%),
  radial-gradient(ellipse 18.667vw 20.968vw at 49.722vw 5.389vw, white 99.5%, transparent 100%),
  radial-gradient(ellipse 20.255vw 20.968vw at 80.029vw 6.956vw, white 99.5%, transparent 100%),
  radial-gradient(ellipse 14.194vw 20.968vw at 94.327vw 5.053vw, white 99.5%, transparent 100%),
  /* url("https://home.orenjinari.com/mockup.png") 0 0/100% auto, */
  #F8D2AC;
 display: flex;
 flex-flow: column;
 gap: var(--section-gap);
 padding-top: calc(var(--h) + var(--section-gap)) !important;
}

.bunny {
 position: absolute;
 cursor: pointer;
}

#connect {
 left: calc(75vw - 3.7vw);
 top: calc(calc(.8 * var(--h)) - 7.6vw);
 width: 7.4vw;
}

#others {
 left: calc(57.5vw - 4vw);
 top: calc(calc(.8 * var(--h)) - 9.3vw);
 width: 8vw;
}

#portfolio {
 left: calc(42.5vw - 5vw);
 top: calc(calc(.8 * var(--h)) - 11vw);
 width: 10vw;
}

#about {
 left: calc(25vw - 4vw);
 top: calc(.8 * var(--h) - 8vw);
 width: 8vw;
}

.placeholder {
 width: 100vw;
 height: var(--h);
 box-shadow: inset 0 0 0 8vw var(--fg-fade3);
 position: relative;
}

.placeholder img {
 width: 64px;
}

.placeholder h1 {
 text-align: center;
 line-height: calc(var(--h) - var(--toolbar-height));
 height: 100%;
 position: absolute;
 width: 100%;
 left: 0;
 top: 0;
 margin: 0;
 padding: 0;
 font-size: 25vw;
 color: var(--fg-fade3);
}

.placeholder .thin {
 font-weight: 200;
}

#float {
 font-size: 32px;
 height: 100%;
 align-items: center;
 justify-content: center;
 display: flex;
 gap: 0.5ch;
 line-height: 1em;
 z-index: 50;
}

@media (width < 500px) {
 #float {
  font-size: max(min(5vw, calc(.05 * var(--h))), 16px);
 }
}