#glowstick_click {
 --tile-width: 8px;
 --tile-height: 6px;
 --ratio: 3;
 --px: calc(1px * var(--ratio));
 --px2: calc(2px * var(--ratio));
 --px3: calc(var(--px) * var(--ratio));
 --px4: calc(4px * var(--ratio));
 --tx: calc(var(--ratio) * var(--tile-width));
 --ty: calc(var(--ratio) * var(--tile-height));
 touch-action: none;
}

#glowstick_click {
 image-rendering: pixelated;
}

#glowstick_click world-,
#glowstick_click region- {
 background-color: var(--bg);
 background-image:
  repeating-linear-gradient(90deg,
   var(--grid-color) 0 var(--px),
   transparent 0 calc(var(--tx) - var(--px)),
   var(--grid-color) calc(var(--tx) - var(--px)) var(--tx)),
  repeating-linear-gradient(0deg,
   var(--grid-color) 0 var(--px),
   transparent 0 calc(var(--ty) - var(--px)),
   var(--grid-color) calc(var(--ty) - var(--px)) var(--ty));
 background-size: var(--tx) var(--ty);
 clip-path: polygon(0px calc(100% - var(--px2)),
   var(--px) calc(100% - var(--px2)),
   var(--px) calc(100% - var(--px)),
   var(--px2) calc(100% - var(--px)),
   var(--px2) 100%,
   calc(100% - var(--px2)) 100%,
   calc(100% - var(--px2)) calc(100% - var(--px)),
   calc(100% - var(--px)) calc(100% - var(--px)),
   calc(100% - var(--px)) calc(100% - var(--px2)),
   100% calc(100% - var(--px2)),
   100% var(--px2),
   calc(100% - var(--px)) var(--px2),
   calc(100% - var(--px)) var(--px),
   calc(100% - var(--px2)) var(--px),
   calc(100% - var(--px2)) 0px,
   var(--px2) 0px,
   var(--px2) var(--px),
   var(--px) var(--px),
   var(--px) var(--px2),
   0px var(--px2));
}

#glowstick_click :is(world-, region-)::after {
 content: "";
 position: absolute;
 clip-path: polygon(0px calc(100% - var(--px2)),
   var(--px) calc(100% - var(--px2)),
   var(--px) calc(100% - var(--px)),
   var(--px2) calc(100% - var(--px)),
   var(--px2) 100%,
   calc(100% - var(--px2)) 100%,
   calc(100% - var(--px2)) calc(100% - var(--px)),
   calc(100% - var(--px)) calc(100% - var(--px)),
   calc(100% - var(--px)) calc(100% - var(--px2)),
   100% calc(100% - var(--px2)),
   100% var(--px2),
   calc(100% - var(--px)) var(--px2),
   calc(100% - var(--px)) var(--px),
   calc(100% - var(--px2)) var(--px),
   calc(100% - var(--px2)) 0px,
   var(--px2) 0px,
   var(--px2) var(--px),
   var(--px) var(--px),
   var(--px) var(--px2),
   0px var(--px2),
   0px 50%,
   var(--px) 50%,
   var(--px) var(--px2),
   var(--px2) var(--px2),
   var(--px2) var(--px),
   calc(100% - var(--px2)) var(--px),
   calc(100% - var(--px2)) var(--px2),
   calc(100% - var(--px)) var(--px2),
   calc(100% - var(--px)) calc(100% - var(--px2)),
   calc(100% - var(--px2)) calc(100% - var(--px2)),
   calc(100% - var(--px2)) calc(100% - var(--px)),
   var(--px2) calc(100% - var(--px)),
   var(--px2) calc(100% - var(--px2)),
   var(--px) calc(100% - var(--px2)),
   var(--px) 50%,
   0px 50%);
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background: var(--grid-color);
 display: block;
 pointer-events: none;
 margin: calc(0 - var(--px));
}

#glowstick_click region- {
 position: absolute;
 left: calc(var(---x) * var(--tx));
 top: calc(var(---y) * var(--ty));
 width: calc(var(---w) * var(--tx));
 height: calc(var(---h) * var(--ty));
 /* Round grid dots
  background-image: radial-gradient(ellipse var(--px) var(--px), var(--grid-color) 100%, transparent 0);
  background-position: calc(var(--tx) / 2) calc(var(--ty) / 2);
 */
 background-image:
  linear-gradient(0,
   transparent var(--px),
   var(--base-color) var(--px),
   var(--base-color) calc(var(--ty) - var(--px)),
   transparent calc(var(--ty) - var(--px))),
  linear-gradient(90deg,
   transparent var(--px),
   var(--base-color) var(--px),
   var(--base-color) calc(var(--tx) - var(--px)),
   transparent calc(var(--tx) - var(--px)));
 --base-color: var(--bg-un-mode);
 background-color: var(--bg-un-mode-est);
}

#glowstick_click region-[data-occupancy="secondary"] {
 --base-color: var(--bg);
 background-color: var(--bg-un-mode-er);
}

#glowstick_click region-[data-occupancy="tertiary"] {
 --base-color: var(--bg-mode);
 background-color: var(--bg-un-mode);
}

#glowstick_click region-.threshold,
#glowstick_click region-[data-key="bridge"] {
 z-index: 10;
}

#glowstick_click user- {
 --width: calc(2 * var(--tx));
 position: absolute;
 top: calc(50% - (5 * var(--ty)));
 left: calc(50% - var(--tx));
 width: var(--width);
 height: calc(32 * var(--px));
 overflow: hidden;
 z-index: 20;
 background-size: cover;
 background-repeat: no-repeat;
}

#glowstick_click user-.front {
 background-image: var(--user-glowstick-click--front_idle-png);
}

#glowstick_click user-.left {
 background-image: var(--user-glowstick-click--left_idle-png);
}

#glowstick_click user-.right {
 background-image: var(--user-glowstick-click--right_idle-png);
}

#glowstick_click user-.back {
 background-image: var(--user-glowstick-click--back_idle-png);
}

#glowstick_click user-.front.walking {
 background-image: var(--user-glowstick-click--front_walk-gif);
}

#glowstick_click user-.left.walking {
 background-image: var(--user-glowstick-click--left_walk-gif);
}

#glowstick_click user-.right.walking {
 background-image: var(--user-glowstick-click--right_walk-gif);
}

#glowstick_click user-.back.walking {
 background-image: var(--user-glowstick-click--back_walk-gif);
}

#glowstick_click world- {
 position: absolute;
 left: 50%;
 top: 50%;
 will-change: transform;
 transition: transform 0.09s linear;
 transform: translate(calc(var(---x) * var(--tx)), calc(var(---y) * var(--ty)));
 /* TODO: Don't hard code the width and height of the whole world. */
 width: calc(101 * var(--tx));
 height: calc(32 * var(--ty));
 box-shadow: inset 0 0 calc(3 * var(--tx)) calc(3 * var(--tx)) var(--bg);
}

#glowstick_click thumbstick- {
 mix-blend-mode: multiply;
 --color: black;
 --mask: white;
}

body.dark #glowstick_click thumbstick- {
 mix-blend-mode: screen;
 --color: white;
 --mask: black;
}

#glowstick_click thumbstick-,
#glowstick_click handle- {
 --large-radius: max(min(10vmin, 128px), 32px);
 --radius: var(--large-radius);
 display: block;
 position: fixed;
 background-color: var(--mask);
 border-radius: var(--radius);
 z-index: 30;
 width: calc(2 * var(--radius));
 height: calc(2 * var(--radius));
 top: calc(var(--y) - var(--large-radius));
 left: calc(var(--x) - var(--large-radius));
 box-shadow: 0 0 0 var(--px) var(--color);
}

#glowstick_click handle- {
 --radius: 24px;
 top: calc((var(--large-radius) - var(--radius)) + var(--y));
 left: calc((var(--large-radius) - var(--radius)) + var(--x));
 position: absolute;
}