#glowstick_click {
 --px: calc(1px * var(--ratio));
 --px2: calc(2px * var(--ratio));
 --px3: calc(3px * var(--ratio));
 --px4: calc(4px * var(--ratio));
 touch-action: none;
 background-color: var(--bg-un-mode);
}

#glowstick_click {
 image-rendering: pixelated;
}

#glowstick_click #world {
 position: absolute;
 left: 50%;
 top: 50%;
 will-change: transform;
 transform: translate(calc(var(---x) * var(--px)), calc(var(---y) * var(--px)));
 shape-rendering: crispEdges;
}

#glowstick_click #world path {
 fill: none;
 stroke: var(--bg);
 stroke-width: 0.5;
}

#glowstick_click #world path.current {
 fill: url(#checkerboard);
}

#glowstick_click #world #checkerboard {
 fill: var(--bg);
}

#glowstick_click user- {
 position: absolute;
 top: calc(50% - 30 * var(--px));
 left: calc(50% - 8 * var(--px));
 width: calc(16 * var(--px));
 height: calc(32 * var(--px));
 overflow: hidden;
 z-index: 20;
 background-size: cover;
 background-repeat: no-repeat;
 /* Reduce the jitter of pixel-perfect snapping. */
 transform: translateX(calc(-1 * var(--t-x) * var(--px))) translateY(calc(-1 * var(--t-y) * var(--px)));
 transition: translate 0.1s;
}

#glowstick_click user-.front {
 background-image: var(--user-glowstick-click--front_idle-png);
}

#glowstick_click user-.front-left {
 background-image: var(--user-glowstick-click--front_left_idle-png);
}

#glowstick_click user-.front-right {
 background-image: var(--user-glowstick-click--front_right_idle-png);
}

#glowstick_click user-.left {
 background-image: var(--user-glowstick-click--right_idle-png);
 transform: scaleX(-1);
}

#glowstick_click user-.right {
 background-image: var(--user-glowstick-click--right_idle-png);
}

#glowstick_click user-.back {
 background-image: var(--user-glowstick-click--back_idle-png);
}

#glowstick_click user-.front.walking {
 background-image: var(--user-glowstick-click--front_walk-gif);
}

#glowstick_click user-.front-left.walking {
 background-image: var(--user-glowstick-click--front_left_walk-gif);
}

#glowstick_click user-.front-right.walking {
 background-image: var(--user-glowstick-click--front_right_walk-gif);
}

#glowstick_click user-.left.walking {
 background-image: var(--user-glowstick-click--right_walk-gif);
 transform: scaleX(-1);
}

#glowstick_click user-.right.walking {
 background-image: var(--user-glowstick-click--right_walk-gif);
}

#glowstick_click user-.back.walking {
 background-image: var(--user-glowstick-click--back_walk-gif);
}

#glowstick_click thumbstick- {
 mix-blend-mode: multiply;
 --color: black;
 --mask: white;
}

body.dark #glowstick_click thumbstick- {
 mix-blend-mode: screen;
 --color: white;
 --mask: black;
}

#glowstick_click thumbstick-,
#glowstick_click handle- {
 --large-radius: max(min(10vmin, 128px), 32px);
 --radius: var(--large-radius);
 display: block;
 position: fixed;
 background-color: var(--mask);
 border-radius: var(--radius);
 z-index: 30;
 width: calc(2 * var(--radius));
 height: calc(2 * var(--radius));
 top: calc(var(--y) - var(--large-radius));
 left: calc(var(--x) - var(--large-radius));
 box-shadow: 0 0 0 var(--px) var(--color);
}

#glowstick_click handle- {
 --radius: 24px;
 top: calc((var(--large-radius) - var(--radius)) + var(--y));
 left: calc((var(--large-radius) - var(--radius)) + var(--x));
 position: absolute;
}