#glowstick_click {
 --px: calc(1px * var(--ratio));
 --px2: calc(2px * var(--ratio));
 --px3: calc(3px * var(--ratio));
 --px4: calc(4px * var(--ratio));
 touch-action: none;
}

#glowstick_click {
 image-rendering: pixelated;
}

#glowstick_click #world {
 position: absolute;
 left: 50%;
 top: 50%;
 will-change: transform;
 transform: translate(calc((var(---x) - 50) * var(--px)), calc((var(---y) - 50) * var(--px)));
 shape-rendering: crispEdges;
 background-color: var(--bg-un-mode);
 pointer-events: none;
}

#glowstick_click #world path {
 fill: url(#checkerboard);
 fill-opacity: 50%;
}

#glowstick_click #world path.current {
 fill-opacity: 100%;
}

#glowstick_click #world #checkerboard {
 fill: var(--bg-mode);
}

#glowstick_click user- {
 position: absolute;
 top: calc(50% - 30 * var(--px));
 left: calc(50% - 8 * var(--px));
 width: calc(16 * var(--px));
 height: calc(32 * var(--px));
 overflow: hidden;
 z-index: 20;
 background-size: cover;
 background-repeat: no-repeat;
 /* Counter-act camera smoothing. */
 transform: translateX(calc(var(--t-x) * var(--px))) translateY(calc(var(--t-y) * var(--px)));
 transition: translate 0.1s;
 background-image: var(--user-glowstick-click--sprite-png);
 background-position: calc(var(--frame) * -16 * var(--px)) calc(var(--direction) * -32 * var(--px));
 background-size: calc(256 * var(--px));
 --frame: 8;
}

#glowstick_click user-.walking {
 --frame: var(--anim-frame);
}

#glowstick_click thumbstick- {
 mix-blend-mode: multiply;
 --color: black;
 --mask: white;
}

body.dark #glowstick_click thumbstick- {
 mix-blend-mode: screen;
 --color: white;
 --mask: black;
}

#glowstick_click thumbstick-,
#glowstick_click handle- {
 --large-radius: max(min(10vmin, 128px), 32px);
 --radius: var(--large-radius);
 display: block;
 position: fixed;
 background-color: var(--mask);
 border-radius: var(--radius);
 z-index: 30;
 width: calc(2 * var(--radius));
 height: calc(2 * var(--radius));
 top: calc(var(--y) - var(--large-radius));
 left: calc(var(--x) - var(--large-radius));
 box-shadow: 0 0 0 var(--px) var(--color);
}

#glowstick_click handle- {
 --radius: 24px;
 top: calc((var(--large-radius) - var(--radius)) + var(--y));
 left: calc((var(--large-radius) - var(--radius)) + var(--x));
 position: absolute;
}