wallpaper- {
 font: inherit;
 --line-height: calc(var(--spacing) * 1.75);
 --icon-size: calc(var(--line-height) * 2 / 3);
 --header-height: calc(var(--line-height) + var(--spacing) / 1.5);
}

part-outliner {
 position: fixed;
 top: var(--header-height);
 width: var(--outliner-width);
 bottom: var(--task-bar-height);
 left: 0;
 overflow: auto;
 background-color: var(--bg-mode-est);
}

editor-container {
 position: fixed;
 top: var(--header-height);
 left: var(--outliner-width);
 right: 0;
 bottom: var(--task-bar-height);
 overflow: hidden;
 overflow-y: auto;
}

#outliner-header,
#editor-header {
 position: fixed;
 z-index: 10;
 top: 0;
 margin: 0;
 padding: calc(var(--spacing) / 3);
 font-weight: 300;
 box-shadow: var(--bottom-shadow);
 background-color: var(--bg-un-mode);
 backdrop-filter: blur(10px);
 line-height: var(--line-height);
 font-size: calc(var(--line-height) * 2 / 3);
 white-space: pre;
 text-overflow: ellipsis;
 overflow: hidden;
}

#outliner-header {
 left: 0;
 width: var(--outliner-width);
}

#editor-header {
 right: 0;
 left: var(--outliner-width);
}

width-handle {
 --handle-thickness: calc(var(--spacing) / 1.5);
 position: absolute;
 left: calc(var(--outliner-width) - var(--handle-thickness) / 2);
 top: 0;
 bottom: 0;
 width: var(--handle-thickness);
 border-radius: calc(var(--handle-thickness) / 2);
 z-index: 100;
}

body.dragging {
 cursor: ew-resize !important;
}

body.dragging * {
 pointer-events: none;
}

width-handle:hover,
body.dragging width-handle {
 background-color: var(--accent);
 cursor: ew-resize;
}

#editor-header>svg {
 height: var(--line-height);
 width: var(--line-height);
 stroke: var(--fg-mode-er);
 margin: 0;
 fill: none;
 border: none;
 cursor: pointer;
 outline: none;
}

#editor-header>svg:hover {
 stroke: var(--fg-mode);
 background-color: var(--bg-fade-2);
}

part-outliner>scroller->details {
 overflow: hidden;
 width: fit-content;
 min-width: var(--outliner-width);
 padding: 0;
}

part-outliner details {
 margin: 0;
 padding: 0;
}

part-outliner summary {
 display: block;
 height: var(--line-height);
 line-height: var(--line-height);
 color: var(--fg);
 padding: 0;
 white-space: pre;
 font-weight: 500;
 cursor: pointer;
 position: relative;
}

part-outliner summary:hover {
 background-color: var(--bg-mode);
}

part-outliner summary[data-selected] {
 background-color: var(--accent-mode-est);
}

wallpaper- summary:hover:not(:has(svg:hover)):not([data-selected]) {
 color: var(--accent);
}

wallpaper- summary>svg:hover {
 stroke: var(--accent);
}

wallpaper- summary>.explore-toggle,
wallpaper- summary>img,
wallpaper- svg,
outliner-spacer {
 stroke: var(--fg);
 vertical-align: top;
 display: inline-block;
 height: var(--line-height);
 width: var(--line-height);
 border-radius: calc(var(--icon-size2) * 0.4 / 3);
 /*margin: calc((var(--line-height) - var(--icon-size2)) / 2);*/
 margin: 0;
 position: relative;
}

wallpaper- summary>.explore-toggle,
wallpaper- summary>img,
wallpaper- svg {
 height: var(--icon-size);
 width: var(--icon-size);
 margin: calc(var(--line-height) * 1 / 6)
}

outliner-spacer {
 width: calc(var(--line-height) / 2);
 border-radius: 0;
 transition: border 0.3s ease;
 border-right: 1px solid var(--bg);
}

part-outliner:hover outliner-spacer

/*:has(+ :is(svg, outliner-spacer))*/
 {
 border-color: var(--bg-un-mode);
}

outliner-spacer:has(+ img) {
 margin-right: calc(var(--line-height) / 2);
}

/*
 #lastOutlinerItem outliner-spacer:has(+ outliner-spacer) {
  border-image:
   linear-gradient(to bottom, transparent, transparent) 1 100%;
 }

 part-outliner:hover details:last-of-type:not(:has(>details))>summary>outliner-spacer:has(+ outliner-spacer:last-of-type), 
 part-outliner:hover #lastOutlinerItem outliner-spacer:has(+ outliner-spacer) {
  border-image:
  linear-gradient(to bottom, var(--bg-un-mode), transparent) 1 100%;
 }
*/

part-outliner summary .label {
 padding-left: calc((var(--line-height) - var(--icon-size2)) / 2);
 padding-right: calc(var(--line-height) - var(--icon-size2));
}