wallpaper- header {
 padding-bottom: calc(6 * var(--spacing));
 position: relative;
}

wallpaper- header::after {
 content: "";
 position: absolute;
 top: var(--gap);
 left: var(--gap);
 height: calc(10 * var(--spacing));
 width: calc(10 * var(--spacing));
 background-image: var(--www-ejaugust-com--part-png);
 background-size: 100%;
}

wallpaper- .topic {
 font-weight: 400;
 text-transform: uppercase;
 font-size: 0.75em;
 color: var(--fg-mode-er);
}

#notebook-title {
 display: none;
}

#notebook-section {
 padding-top: calc(3.75 * var(--spacing));
}