wallpaper- header {
 padding-bottom: calc(6 * var(--spacing));
}

wallpaper- header::after {
 content: "";
 position: absolute;
 top: var(--gap);
 left: var(--gap);
 height: calc(10 * var(--spacing));
 width: calc(10 * var(--spacing));
 background-image: var(--www-ejaugust-com--part-png);
 background-size: 100%;
 box-shadow:
  10px 8px 12px -6px #0004,
  0 0 13px -3px #0002,
  inset 0 0 var(--spacing) var(--spacing) var(--edge-color);
 border-radius: 50%;
}

wallpaper- .topic {
 font-weight: 400;
 text-transform: uppercase;
 font-size: 0.75em;
 color: var(--fg-mode-er);
}

#notebook-title {
 display: none;
}

#notebook-section {
 padding-top: calc((5 * var(--spacing)) - 2px);
}

#bio>p {
 padding-top: var(--spacing);
}

#footer-home {
 display: none;
}