* {
 box-sizing: border-box
}

html,
body {
 --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 --system-ui-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Consolas", "Courier New", monospace;
 --menu-tween: 0;
 --sidebar-width: 256px;
 --bottom-accent: 0 1.5px var(--fg-fade1);
 --bottom-shadow: 0 2px 7px #0002;
 --icon-size: 29px;
 --spacing: 19px;
 --toolbar-height: calc(var(--icon-size) + 2 * var(--spacing));
 font: 13px var(--system-ui);
 overscroll-behavior: none !important;
 color: var(--fg-fade1);
 background: var(--bg-shade1);
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
 margin: 0;
 height: 100vh;
}

body>main {
 position: relative;
 top: var(--toolbar-height);
 left: 0;
 right: 0;
 padding: 0;
 bottom: 0;
}

#menu {
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 margin: 0;
 padding: 0;
 background: #0003;
 opacity: var(--menu-tween);
 color: var(--fg-fade1);
 outline: none;
 pointer-events: none;
}

button {
 height: var(--icon-size);
 background: transparent;
 font-size: calc(var(--icon-size) * 1.2);
 line-height: var(--icon-size);
 padding: 0;
 margin: 0;
 border: none;
 cursor: pointer;
 color: inherit;
}

#sidebar {
 padding: 0;
 margin: 0;
 position: fixed;
 overflow: hidden;
 border-radius: calc(var(--spacing) / 2);
 display: flex;
 flex-flow: column;
 box-shadow: 0px 0px 22px var(--spacing) #0001;
 right: calc(var(--spacing) + (var(--menu-tween) - 1) * 256px);
 top: calc(var(--toolbar-height) - var(--spacing) / 2);
 height: auto;
 width: auto;
 background: var(--bg-shade2);
 pointer-events: all;
}

#apps,
#settings {
 padding: var(--spacing);
 display: flex;
 margin: 0;
 flex-flow: column;
}

#apps {
 background: var(--bg-shade3);
 gap: var(--spacing);
 counter-reset: item;
 flex: 0 1 auto;
 line-height: var(--icon-size);
}

#settings {
 display: flex;
 flex-flow: column;
 gap: 1ch;
}

#settings>* {
 display: flex;
 gap: 1ch;
 justify-content: space-between;
}

#tags {
 display: flex;
}

#tags>* {
 display: inline-flex;
 font-weight: 100;
 line-height: 20px;
 color: var(--fg-fade1);
 padding: 0 4px;
 box-sizing: border-box;
 font-family: var(--system-ui-mono);
 background: rgb(97, 36, 23);
}

#tags> :first-child {
 background: var(--bg-shade3);
 border-radius: 8px 0 0 8px;
}

#tags> :last-child {
 border-radius: 0 8px 8px 0;
}

#tags> :only-child {
 border-radius: 8px;
}

#colormode {
 cursor: pointer;
 position: relative;
 height: var(--spacing);
}

#colormode .base {
 width: 100%;
 border-radius: var(--spacing);
 height: var(--spacing);
 background: var(--bg-shade3);
 width: calc(var(--spacing) * 2);
 box-shadow: inset 0px 0px 6px #000;
 flex: 0 0 auto;
 overflow: hidden;
 position: absolute;
 right: 0;
 display: flex;
}

.handle {
 display: block;
 background: var(--bg-shade3);
 box-shadow: 0px 0px 6px #000;
 width: calc(var(--spacing) - 4px);
 height: calc(var(--spacing) - 4px);
 position: absolute;
 text-align: center;
 border-radius: var(--spacing);
 left: calc(.5 * var(--spacing) * var(--color-mode) + 2px);
 top: 2px;
}

#label1,
#label2 {
 transition: opacity 0.3s;
 position: absolute;
 left: 0;
 top: 0;
 right: 0;
 width: 120px;
}

#label1 {
 opacity: 100%;
}

#label2 {
 opacity: 0%;
}

#colormode:hover #label1 {
 opacity: 0%;
}

#colormode:hover #label2 {
 opacity: 100%;
}

.applink {
 display: flex;
 gap: 1.75ch;
 padding: 0;
 flex: 0;
 font-weight: 500;
 margin: -1px;
 line-height: 25px;
}

.applink>img {
 height: var(--icon-size);
 width: var(--icon-size);
}

.applink>.label {
 text-decoration: none;
 flex: 1 1;
}

.applink[data-here="true"] {
 position: relative;
 color: var(--theme);
}

.applink[data-here="true"]::before {
 content: "";
 position: absolute;
 width: 1ch;
 left: calc(var(--spacing) * -1);
 top: 0;
 bottom: 0;
 width: 8px;
 background: var(--theme);
}

.applink:not([data-here="true"]):hover {
 color: var(--theme);
 cursor: pointer;
}

#logo {
 font-weight: 700;
}

#toolbar {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 height: var(--toolbar-height);
 background: var(--bg-shade1);
 margin: 0;
 padding: var(--spacing);
 line-height: var(--toolbar-height);
 display: flex;
 color: var(--fg-fade1);
 box-shadow: var(--toolbar-accent);
 gap: var(--spacing);
}

#toolbar>.btn {
 width: var(--icon-size);
}

#toolbar>.btn:hover {
 color: var(--theme);
}

button:hover {
 color: var(--theme);
}

#nested button {
 font-size: 100px;
}

#home>h1 {
 padding: 0;
 margin: 0;
 display: flex;
 font-size: 21px;
 line-height: var(--icon-size);
 font-weight: 400;
 gap: var(--spacing);
}

#appicon {
 height: var(--icon-size);
 width: var(--icon-size);
}

#home>.label {
 flex: 1;
 line-height: var(--icon-size);
}

.spacer {
 flex: 1;
}

#nested {
 line-height: var(--icon-size);
 padding: 0;
 display: flex;
 height: var(--icon-size);
 gap: 6px;
}

@media (width < 500px) {
 #nested {
  position: fixed;
  top: var(--toolbar-height);
  left: 0;
  right: 0;
  width: 100vw;
  box-shadow: var(--toolbar-accent);
 }

 #appicon {
  display: none;
 }
}

@media (display-mode: window-controls-overlay) {
 #toolbar {
  padding-left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  padding-right: calc(100% - env(titlebar-area-width, 100%) - env(titlebar-area-x, 0));
  height: var(--toolbar-height);
  width: 100%;
  -webkit-app-region: drag;
  app-region: drag;
 }

 #toolbar>button {
  -webkit-app-region: no-drag;
  app-region: no-drag;
 }
}