wallpaper- {
 --unit: min(48px, 4vw, calc(var(--h) / 5));
 padding-top: calc(var(--h) * 0.4);
 margin: 0;
 display: block;
 overflow: clip;
 padding: 15px;
}

wallpaper->h1,
wallpaper->h2 {
 text-align: center;
 line-height: calc(var(--h) / 2);
 height: calc(var(--h) / 2);
 position: absolute;
 width: 100%;
 left: 0;
 top: 0;
 margin: 0;
 padding: 0;
}

wallpaper- h1 {
 font-size: min(35vw, var(--h) / 2);
 color: var(--fg-un-mode-est);
 text-align: center;
 line-height: var(--h);
 height: 100%;
 position: absolute;
 width: 100%;
 left: 0;
 top: 0;
 margin: 0;
 padding: 0;
}

wallpaper- .thin {
 font-weight: 200;
}

wallpaper- h2 {
 top: calc(var(--h) * .1);
 height: calc(var(--h) * .4);
 line-height: calc(var(--h) * 0.4);
 position: absolute;
 font-size: var(--unit);
 text-align: center;
}

wallpaper- p {
 --unit: min(18px, 8vw, calc(var(--h) / 28));
 display: block;
 font-weight: 200;
 letter-spacing: calc(var(--unit) / 13);
 font-size: var(--unit);
 line-height: var(--unit);
 color: var(--fg-un-mode-er);
 background-color: #0005;
 margin: calc(var(--unit) * 2);
 padding: calc(var(--unit) * 2);
}

wallpaper- a,
wallpaper- a:visited {
 text-decoration: none;
 color: var(--fg-un-mode);
 font-weight: 400;
}

wallpaper- img {
 width: var(--unit);
 height: var(--unit);
 border-radius: calc(var(--unit) / 5);
 margin-right: calc(var(--unit) / 2);
 transform: scale(2);
}

wallpaper- .float {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 font-size: 32px;
 align-items: center;
 justify-content: center;
 display: flex;
 flex-flow: column;
 gap: 0.5ch;
 line-height: 1em;
}

@media(width < 500px) {
 wallpaper- .float {
  font-size: max(min(5vw, .05 * var(--h)), 16px);
 }
}

wallpaper- .float>h2 {
 display: flex;
 gap: 0.5ch;
}

wallpaper- .float>h2 img {
 width: 64px;
 height: 64px;
 border-radius: calc(64px * 0.2);
}