body {
 --bottom-accent: 0 1.5px var(--fg-mode-est);
 --bottom-shadow: 0 2px 7px #0002;
 --task-bar-accent: var(--bottom-shadow);
 --icon-size: 29px;
 --spacing: 14px;
 --task-bar-height: calc(var(--icon-size) + 2 * var(--spacing));
 font: 13px var(--system-ui);
}

#color-control,
#era-control {
 cursor: pointer;
 position: relative;
}

#color-control .base,
#era-control .base {
 width: 100%;
 border-radius: var(--spacing);
 background: var(--light-bg);
 width: calc(var(--spacing) * 2);
 box-shadow: inset 0px 0px 12px #000;
 flex: 0 0 auto;
 overflow: hidden;
 display: flex;
}

scroller- {
 width: 100%;
}

scroll-bar>thumb- {
 transition: background-color 0.3s ease;
 background-color: transparent;
 --track-height: 100%;
 --thumb-start: 0px;
}

:hover>scroll-bar>thumb- {
 background-color: #fff3;
}

scroll-bar>:is(.scroll-up, .scroll-down) {
 display: none;
}

body.light :hover>scroll-bar>thumb- {
 background-color: #0003;
}

task-menu {
 opacity: var(--menu-tween);
}

button,
menu-button {
 height: var(--icon-size);
 font-size: calc(var(--icon-size) * 1.2);
 line-height: var(--icon-size);
 cursor: pointer;
}

menu-button>img {
 width: var(--icon-size);
 height: var(--icon-size);
}

sidebar- {
 box-shadow: 0px 0px 22px var(--spacing) #0001;
 background: var(--bg-light);
 padding: 0;
 --bottom: calc(var(--task-bar-height) - var(--spacing) / 2);
 border-radius: calc(var(--spacing) / 2);
 bottom: var(--bottom);
 left: calc(var(--spacing) + (var(--menu-tween) - 1) * 256px);
 height: auto;
 max-height: calc(var(--h) - var(--bottom) - var(--spacing));
 width: auto;
}

sidebar- [disabled] {
 display: none !important;
}

sidebar- hr {
 display: none;
}

sidebar->* {
 white-space: nowrap;
 line-height: var(--spacing);
}

#application-control,
#settings {
 padding: var(--spacing);
 display: flex;
 margin: 0;
 flex-flow: column;
}

#application-control {
 counter-reset: item;
 flex: 0 1 auto;
 line-height: var(--icon-size);
}

#settings {
 gap: 1ch;
 background-color: var(--bg-dark);
}

#settings>span {
 gap: 1ch;
 height: var(--spacing);
 box-sizing: content-box;
}

#settings .label2 {
 min-width: 3.5em;
 text-align: right;
}

#tags {
 display: flex;
}

#tags>* {
 display: inline-flex;
 font-weight: 100;
 padding: 0 4px;
 font-family: var(--system-ui-mono);
 border-radius: 8px;
}

.handle {
 display: block;
 position: relative;
 background: var(--light-bg);
 box-shadow: 0px 0px 6px #000;
 width: calc(var(--spacing) - 4px);
 height: calc(var(--spacing) - 4px);
 text-align: center;
 border-radius: var(--spacing);
 left: 2px;
 top: 2px;
}


#settings>span[data-state="enabled"] .handle {
 left: calc(var(--spacing) + 2px);
}

#settings>span[data-state="partial"] .handle {
 left: calc(.5 * var(--spacing) + 2px);
}

.task-link[data-here]>a::before {
 content: "";
 position: absolute;
 width: 1ch;
 left: calc(var(--spacing) * -1);
 top: 0;
 bottom: 0;
 width: 8px;
 background: var(--accent);
}

.task-link>a,
.task-link>a:visited {
 line-height: 25px;
 gap: var(--spacing);
 padding: 8px;
 cursor: pointer;
}

.task-link[data-here]>a {
 color: var(--accent);
}

.task-link:not([data-here]):hover,
#update-control:hover {
 color: var(--accent);
 cursor: pointer;
}

task-bar {
 gap: var(--spacing);
 padding: var(--spacing);
 box-shadow: var(--task-bar-accent);
}

task-bar:before {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 content: "";
 background: var(--bg);
}

tray- {
 position: relative;
 display: flex;
 flex-flow: row nowrap;
 gap: var(--spacing);
 height: 100%;
 margin: 0;
 width: auto;
}

#clock {
 vertical-align: top;
 display: inline-block;
 overflow: hidden;
 line-height: var(--icon-size);
}