wallpaper- {
 font: inherit;
 /* --line-height: calc(var(--spacing) * 1.75);
  --icon-size: calc(var(--line-height) * 2 / 3); */
 --line-height: 20px;
 --icon-size: 16px;
 --header-height: calc(var(--line-height) + var(--spacing) / 1.5);
 --handle-thickness: calc(var(--spacing) / 1.5);
}

body.modern wallpaper- {
 --line-height: 26px;
 --icon-size: 20px;
}

body.vintage wallpaper- {
 --handle-thickness: 4px;
}

part-outliner {
 position: absolute;
 top: var(--header-height);
 width: var(--outliner-width);
 bottom: 0;
 left: 0;
 background-color: var(--bg-mode-est);
}

property-viewer {
 position: absolute;
 top: var(--header-height);
 left: var(--outliner-width);
 right: 0;
 bottom: 0;
}

#outliner-header,
#property-viewer-header {
 position: absolute;
 z-index: 10;
 top: 0;
 margin: 0;
 padding: calc(var(--spacing) / 3);
 font-weight: 300;
 box-shadow: var(--bottom-shadow);
 background-color: var(--bg-un-mode);
 line-height: var(--line-height);
 font-size: calc(var(--line-height) * 2 / 3);
 white-space: pre;
 text-overflow: ellipsis;
 overflow: hidden;
}

#outliner-header {
 left: 0;
 width: var(--outliner-width);
}

#property-viewer-header {
 right: 0;
 left: var(--outliner-width);
}

width-handle {
 position: absolute;
 left: calc(var(--outliner-width) - var(--handle-thickness) / 2);
 top: 0;
 bottom: 0;
 width: var(--handle-thickness);
 border-radius: calc(var(--handle-thickness) / 2);
 z-index: 100;
}

body.vintage width-handle {
 background-color: var(--bg);
}

body.dragging {
 cursor: ew-resize !important;
}

body.dragging * {
 pointer-events: none;
}

width-handle:hover,
body.dragging width-handle {
 background-color: var(--accent);
 cursor: ew-resize;
}

#property-viewer-header>svg {
 height: var(--line-height);
 width: var(--line-height);
 stroke: var(--fg-mode-er);
 margin: 0;
 fill: none;
 border: none;
 cursor: pointer;
 outline: none;
}

#property-viewer-header>svg:hover {
 stroke: var(--fg-mode);
 background-color: var(--bg-fade-2);
}

part-outliner>scroller->scroll-content>details {
 overflow: hidden;
 width: fit-content;
 width: 100%;
 padding: 0;
}

part-outliner details {
 margin: 0;
 padding: 0;
}

part-outliner summary {
 display: block;
 height: var(--line-height);
 line-height: var(--line-height);
 color: var(--fg-mode);
 padding: 0;
 white-space: pre;
 cursor: pointer;
 position: relative;
 text-overflow: ellipsis;
 overflow: hidden;
 outline: none;
}

/* part-outliner summary:hover {} */

part-outliner summary[data-selected] {
 background-color: var(--accent);
 color: var(--bg-mode-est);
 font-weight: 500;
}

wallpaper- summary:hover:not(:has(svg:hover)):not([data-selected]) {
 background-color: var(--bg-mode-est);
 color: var(--fg-un-mode-est);
}

wallpaper- summary>svg:hover {
 stroke: var(--accent);
}

wallpaper- summary[data-selected]>svg:hover {
 stroke: var(--bg-mode-er);
}

body.light part-outliner {
 background-color: white;
}

body.dark part-outliner {
 background-color: black;
}

body.vintage :is(property-viewer, part-outliner) {
 top: calc(4px + var(--header-height));
 bottom: 4px;
}

body.vintage :is(property-viewer, part-outliner)::after {
 content: "";
 position: absolute;
 box-shadow: var(--deep-inset);
 top: calc(-2px - var(--header-height));
 bottom: -2px;
 left: -2px;
 right: -2px;
 pointer-events: none;
}

body.vintage property-viewer {
 left: calc(2px + var(--outliner-width) + (var(--handle-thickness) / 2));
 right: 2px;
}

body.vintage #property-viewer-header {
 left: calc(2px + var(--outliner-width) + (var(--handle-thickness) / 2));
 right: 2px;
}

body.vintage part-outliner,
body.vintage #outliner-header {
 width: calc(var(--outliner-width) - (var(--handle-thickness) / 2) - 4px);
 left: 2px;
}

body.vintage :is(#outliner-header, #property-viewer-header) {
 box-shadow: var(--deep-outset);
 background-color: var(--bg);
 top: 4px;
}

wallpaper- summary>.explore-toggle,
wallpaper- summary>img,
wallpaper- svg,
outliner-spacer {
 stroke: var(--fg);
 vertical-align: top;
 display: inline-block;
 height: var(--line-height);
 width: var(--line-height);
 border-radius: calc(var(--icon-size) * 0.4 / 3);
 /*margin: calc((var(--line-height) - var(--icon-size)) / 2);*/
 margin: 0;
 position: relative;
}

wallpaper- summary>.explore-toggle,
wallpaper- summary>img,
wallpaper- svg {
 height: var(--icon-size);
 width: var(--icon-size);
 margin: calc((var(--line-height) - var(--icon-size)) / 2);
 /* margin: calc(var(--line-height) * 1 / 6) */
}

outliner-spacer {
 width: calc(var(--line-height) / 2);
 border-radius: 0;
 transition: border 0.3s ease;
 border-right: 1px solid var(--bg);
}

part-outliner:hover outliner-spacer

/*:has(+ :is(svg, outliner-spacer))*/
 {
 border-color: var(--bg-un-mode);
}

outliner-spacer:has(+ img) {
 margin-right: calc(var(--line-height) / 2);
}

/*
 #lastOutlinerItem outliner-spacer:has(+ outliner-spacer) {
  border-image:
   linear-gradient(to bottom, transparent, transparent) 1 100%;
 }

 part-outliner:hover details:last-of-type:not(:has(>details))>summary>outliner-spacer:has(+ outliner-spacer:last-of-type), 
 part-outliner:hover #lastOutlinerItem outliner-spacer:has(+ outliner-spacer) {
  border-image:
  linear-gradient(to bottom, var(--bg-un-mode), transparent) 1 100%;
 }
*/

part-outliner summary .label {
 padding-left: calc((var(--line-height) - var(--icon-size)) / 2);
 padding-right: calc(var(--line-height) - var(--icon-size));
 font-weight: 300;
}

part-outliner summary .label.abstract {
 font-style: italic;
 font-weight: 100;
}