wallpaper- {
 font: inherit;
 --tool-bar-width: calc(var(--icon-size) + (1.75 * var(--spacing)));
 --sidebar-width: var(--tool-bar-width);
 overscroll-behavior: none;
}

body.sidebar-open wallpaper- {
 --sidebar-width: calc(var(--tool-bar-width) + var(--sidebar-view-width));
}

body.modern wallpaper- {
 --line-height: 26px;
 --icon-size: 20px;
 --header-height: calc(var(--line-height) + var(--spacing) / 1.5);
}

body.vintage wallpaper- {
 --line-height: 20px;
 --icon-size: 16px;
 --header-height: calc(var(--line-height) + 2px);
}