wallpaper- {
 font: inherit;
 --toolbar-width: var(--task-bar-height);
 --sidebar-width: calc(var(--toolbar-width) + var(--sidebar-view-width))
}

body.modern wallpaper- {
 --line-height: 26px;
 --icon-size: 20px;
 --header-height: calc(var(--line-height) + var(--spacing) / 1.5);
}

body.vintage wallpaper- {
 --line-height: 20px;
 --icon-size: 16px;
 --header-height: calc(var(--line-height) + 2px);
}