body #vintage-mode .handle {
 left: 2px;
}


body #color-mode,
body #vintage-mode {
 cursor: pointer;
 position: relative;
 height: var(--spacing);
}

body #color-mode .base,
body #vintage-mode .base {
 width: 100%;
 border-radius: var(--spacing);
 height: var(--spacing);
 background: var(--bg-shade3);
 width: calc(var(--spacing) * 2);
 box-shadow: inset 0px 0px 6px #000;
 flex: 0 0 auto;
 overflow: hidden;
 position: absolute;
 right: 0;
 display: flex;
}

body {
 --bottom-accent: 0 1.5px var(--fg-fade3);
 --bottom-shadow: 0 2px 7px #0002;
 --taskbar-accent: var(--bottom-shadow);
 --icon-size: 29px;
 --spacing: 14px;
 --taskbar-height: calc(var(--icon-size) + 2 * var(--spacing));
 font: 13px var(--system-ui);
 color: var(--fg-fade1);
}

body wallpaper- {
 background: var(--bg-shade1);
}


body task-menu {
 background: #0003;
 opacity: var(--menu-tween);
 color: var(--fg-fade1);
}

body button,
body menu-button {
 height: var(--icon-size);
 font-size: calc(var(--icon-size) * 1.2);
 line-height: var(--icon-size);
 cursor: pointer;
}

body sidebar- {
 box-shadow: 0px 0px 22px var(--spacing) #0001;
 background: var(--bg-shade2);
 padding: 0;
 border-radius: calc(var(--spacing) / 2);
 bottom: calc(var(--taskbar-height) - var(--spacing) / 2);
 left: calc(var(--spacing) + (var(--menu-tween) - 1) * 256px);
 height: auto;
 width: auto;
}

body sidebar->hr {
 display: none;
}

body #themes,
body #settings {
 padding: var(--spacing);
 display: flex;
 margin: 0;
 flex-flow: column;
}

body #themes {
 background: var(--bg-shade3);
 counter-reset: item;
 flex: 0 1 auto;
 line-height: var(--icon-size);
}

body #settings {
 gap: 1ch;
}

body #settings>span {
 gap: 1ch;
 height: var(--icon-size);
}

body #tags {
 display: flex;
}

body #tags>* {
 display: inline-flex;
 font-weight: 100;
 line-height: 20px;
 color: var(--fg-fade1);
 padding: 0 4px;
 font-family: var(--system-ui-mono);
 background: rgb(97, 36, 23);
}

body #tags> :first-child {
 background: var(--bg-shade3);
 border-radius: 8px 0 0 8px;
}

body #tags> :last-child {
 border-radius: 0 8px 8px 0;
}

body #tags> :only-child {
 border-radius: 8px;
}

body .handle {
 display: block;
 background: var(--bg-shade3);
 box-shadow: 0px 0px 6px #000;
 width: calc(var(--spacing) - 4px);
 height: calc(var(--spacing) - 4px);
 position: absolute;
 text-align: center;
 border-radius: var(--spacing);
 left: calc(.5 * var(--spacing) * var(--color-mode) + 2px);
 top: 2px;
}

body #label1,
body #label2 {
 transition: opacity 0.3s;
 position: absolute;
 left: 0;
 top: 0;
 right: 0;
 width: 120px;
}

body #label1 {
 opacity: 100%;
}

body #label2 {
 opacity: 0%;
}

body #color-mode:hover #label1 {
 opacity: 0%;
}

body #color-mode:hover #label2 {
 opacity: 100%;
}


body .task-link[data-here]>a::before {
 content: "";
 position: absolute;
 width: 1ch;
 left: calc(var(--spacing) * -1);
 top: 0;
 bottom: 0;
 width: 8px;
 background: var(--theme);
}

body .task-link>a,
body .task-link>a:visited {
 line-height: 25px;
 gap: var(--spacing);
 padding: 8px;
 cursor: pointer;
}

body .task-link[data-here]>a {
 color: var(--theme);
}

body .task-link:not([data-here]):hover {
 color: var(--theme);
 cursor: pointer;
}

body taskbar- {
 gap: var(--spacing);
 padding: var(--spacing);
 box-shadow: var(--taskbar-accent);
 background: var(--bg-shade1);
 color: var(--fg-fade1);
}