#orenjinari_com {
 background-color: var(--bg);
}

#orenjinari_com>scroller->scroll-content::before,
#orenjinari_com>scroller->scroll-content::after {
 position: absolute;
 width: 100%;
 height: 100%;
 content: "";
 left: 0;
 top: 0;
}

#orenjinari_com {
 --signature: var(--orenjinari-com--signature-png);
 --ground: var(--orenjinari-com--ground-png);
}

#orenjinari_com>scroller->scroll-content {
 padding-top: calc(var(--app-height) + var(--section-gap));
 --sections: 5;
 --section-gap: 128px;
 background:
  var(--signature) 36.5vw 8vw/27vw 7.78vw no-repeat,
  radial-gradient(ellipse 17.597vw 20.968vw at 7.735vw 5.433vw, white 99.5%, transparent 100%),
  radial-gradient(ellipse 12.477vw 20.968vw at 28.291vw 2.626vw, white 99.5%, transparent 100%),
  radial-gradient(ellipse 18.667vw 20.968vw at 49.722vw 5.389vw, white 99.5%, transparent 100%),
  radial-gradient(ellipse 20.255vw 20.968vw at 80.029vw 6.956vw, white 99.5%, transparent 100%),
  radial-gradient(ellipse 14.194vw 20.968vw at 94.327vw 5.053vw, white 99.5%, transparent 100%);
 display: block;
 position: relative;
}

#orenjinari_com>scroller->scroll-content::after {
 background:
  var(--ground) 12.5vw calc(.8 * var(--app-height))/75vw 3.75vw no-repeat;
 z-index: -1;
}

body.dark #orenjinari_com>scroller->scroll-content::after {
 filter: invert(100%);
 -webkit-filter: invert(100%);
}

body.modern:has(wallpaper-#orenjinari_com) task-bar {
 background: transparent;
 box-shadow: none;
}

#orenjinari_com .bunny {
 position: absolute;
 cursor: pointer;
}

#orenjinari_com #connect-btn {
 left: calc(75vw - 3.7vw);
 top: calc(calc(.8 * var(--app-height)) - 7.6vw);
 width: 7.4vw;
}

#orenjinari_com #others-btn {
 left: calc(57.5vw - 4vw);
 top: calc(calc(.8 * var(--app-height)) - 9.3vw);
 width: 8vw;
}

#orenjinari_com #portfolio-btn {
 left: calc(42.5vw - 5vw);
 top: calc(calc(.8 * var(--app-height)) - 10.5vw);
 width: 10vw;
}

#orenjinari_com #about-btn {
 left: calc(25vw - 4vw);
 top: calc(.8 * var(--app-height) - 8vw);
 width: 8vw;
}

#orenjinari_com .zone {
 width: 100%;
 height: var(--app-height);
 position: relative;
 margin-top: var(--section-gap);
}

#orenjinari_com .zone img {
 width: 64px;
}

#orenjinari_com .zone h1 {
 text-align: center;
 line-height: var(--app-height);
 height: 100%;
 position: absolute;
 width: 100%;
 left: 0;
 top: 0;
 margin: 0;
 padding: 0;
 font-size: 25vw;
 color: var(--fg-mode-est);
 opacity: 25%;
}

#orenjinari_com .zone .thin {
 font-weight: 200;
}

#orenjinari_com .float {
 font-size: 32px;
 height: 100%;
 align-items: center;
 justify-content: center;
 display: flex;
 gap: 0.5ch;
 line-height: 1em;
 z-index: 50;
}

@media (width < 500px) {
 #orenjinari_com .float {
  font-size: max(min(5vw, calc(.05 * var(--app-height))), 16px);
 }
}