.game-svg {
 width: 100%;
 height: 100%;
}

.ui-panel,
.slot {
 fill: #222;
 stroke: #333;
 stroke-width: 0.1;
}

.board-bg {
 fill: #151515;
}

@media (orientation: landscape) {
 .game-svg.portrait {
  display: none;
 }
}

@media (orientation: portrait) {
 .game-svg.landscape {
  display: none;
 }
}