side-bar {
 position: absolute;
 top: 0;
 left: var(--tool-bar-width);
 width: var(--sidebar-view-width);
 bottom: 0;
}

#sidebar-view-header {
 position: absolute;
 z-index: 10;
 top: 0;
 left: 0;
 right: 0;
 margin: 0;
 padding: calc(var(--spacing) / 3);
 font-weight: 300;
 background-color: var(--bg-mode-er);
 line-height: var(--tab-line-height);
 font-size: calc(var(--tab-line-height) * 2 / 3);
 white-space: pre;
 text-overflow: ellipsis;
 overflow: hidden;
}

#sidebar-view {
 position: absolute;
 top: var(--tab-group-height);
 right: 0;
 bottom: 0;
 left: 0;
 background-color: var(--bg-mode-est);
 overflow: clip;
}

#sidebar-view>scroller->scroll-content>details {
 overflow: hidden;
 width: fit-content;
 width: 100%;
 padding: 0;
}

#sidebar-view details {
 margin: 0;
 padding: 0;
}

#sidebar-view summary {
 display: block;
 height: var(--tab-line-height);
 line-height: var(--tab-line-height);
 color: var(--fg-mode);
 padding: 0;
 white-space: pre;
 cursor: pointer;
 position: relative;
 text-overflow: ellipsis;
 overflow: hidden;
 outline: none;
}

#sidebar-view summary[data-active] {
 background-color: var(--accent);
 color: var(--bg-mode-est);
 font-weight: 500;
}

#sidebar-view summary:hover:not(:has(svg:hover)):not([data-active]) {
 background-color: var(--bg-mode-est);
 color: var(--fg-un-mode-est);
}

#sidebar-view summary>svg:hover {
 stroke: var(--accent);
}

#sidebar-view summary[data-active]>svg:hover {
 stroke: var(--bg-mode-er);
}

#sidebar-view summary>.explore-toggle,
#sidebar-view summary>img,
#sidebar-view svg,
outliner-spacer {
 stroke: var(--fg);
 vertical-align: top;
 display: inline-block;
 height: var(--tab-line-height);
 width: var(--tab-line-height);
 border-radius: calc(var(--tab-icon-size) * 0.4 / 3);
 margin: 0;
 position: relative;
}

#sidebar-view summary>.explore-toggle,
#sidebar-view summary>img,
#sidebar-view svg {
 height: var(--tab-icon-size);
 width: var(--tab-icon-size);
 margin: calc((var(--tab-line-height) - var(--tab-icon-size)) / 2);
}

outliner-spacer {
 width: calc(var(--tab-line-height) / 2);
 border-radius: 0;
 border-right: 1px solid var(--bg-un-mode);
}

outliner-spacer:has(+ img) {
 margin-right: calc(var(--tab-line-height) / 2);
}

details.empty>summary>outliner-spacer:last-of-type {
 border: none;
}

#sidebar-view summary .label {
 padding-left: calc((var(--tab-line-height) - var(--tab-icon-size)) / 2);
 padding-right: calc(var(--tab-line-height) - var(--tab-icon-size));
 font-weight: 300;
}

#sidebar-view summary .label.abstract {
 font-style: italic;
 font-weight: 100;
}

/* Modern */

body.modern #sidebar-view-header {
 box-shadow:
  inset -2px 0 0 -1px var(--bg-un-mode),
  inset 0 2px 0 -1px var(--bg-un-mode);
}

body.modern #sidebar-view {
 box-shadow:
  inset -2px 0 0 -1px var(--bg-un-mode);
}

body.modern.light #sidebar-view {
 background-color: var(--bg-light-er);
}

body.modern.dark #sidebar-view {
 background-color: var(--bg-mode-er);
}

body.modern #sidebar-view summary {
 box-shadow:
  inset -2px 0 0 -1px var(--bg-un-mode);
}

/* Vintage */

body.vintage side-bar {
 top: 6px;
 width: calc(var(--sidebar-view-width) - (var(--handle-thickness) / 2) - 2px);
 left: calc(6px + var(--tool-bar-width));
 bottom: 6px;
}

body.vintage side-bar::after {
 content: "";
 position: absolute;
 box-shadow: var(--deep-inset);
 top: -2px;
 bottom: -2px;
 left: -2px;
 right: -2px;
 pointer-events: none;
}

body.vintage #sidebar-view-header {
 font-size: var(--default-font-size);
 padding: 0 4px;
 line-height: var(--tab-group-height);
 box-shadow: var(--deep-outset);
 background-color: var(--bg);
}

body.vintage.light #sidebar-view {
 background-color: white;
}

body.vintage.dark #sidebar-view {
 background-color: black;
}